[BEGINVDF]
Comment=Gothic II: Ultimate Stranger v0.1
BaseDir=P:\Steam\steamapps\common\Gothic II
VDFName=P:\Steam\steamapps\common\Gothic II\Data\modvdf\UltimateStranger.mod
[FILES]
_work\Data\Anims\_compiled\BACKPACK_1.MDL -r
_work\Data\Anims\_compiled\BARRELMOUNTED_OC.MDL -r
_work\Data\Anims\_compiled\BARRELO_OC.MDL -r
_work\Data\Anims\_compiled\BARREL_1_OC.MDL -r
_work\Data\Anims\_compiled\BASKET_RICE.MDL -r
_work\Data\Anims\_compiled\BATHTUB_WOODEN.MDL -r
_work\Data\Anims\_compiled\BEDLOW_NC.MDL -r
_work\Data\Anims\_compiled\BEDLOW_OC.MDL -r
_work\Data\Anims\_compiled\BEDLOW_PC.MDL -r
_work\Data\Anims\_compiled\BEDLOW_PSI.MDL -r
_work\Data\Anims\_compiled\BELLOW_MINE.MDL -r
_work\Data\Anims\_compiled\CHAIR_THRONE.MDL -r
_work\Data\Anims\_compiled\CHESTBIG_ORCMUMMY.MDL -r
_work\Data\Anims\_compiled\EXCALIBUR_1.MDL -r
_work\Data\Anims\_compiled\HUMANS-C_FP_S0_1.MAN -r
_work\Data\Anims\_compiled\HUMANS-C_FP_S0_2.MAN -r
_work\Data\Anims\_compiled\HUMANS-C_FP_S0_2_S1_1.MAN -r
_work\Data\Anims\_compiled\HUMANS-C_FP_S0_2_S1_2.MAN -r
_work\Data\Anims\_compiled\HUMANS-C_FP_S0_2_S1_3.MAN -r
_work\Data\Anims\_compiled\HUMANS-C_FP_S0_2_STAND_1.MAN -r
_work\Data\Anims\_compiled\HUMANS-C_FP_S0_2_STAND_2.MAN -r
_work\Data\Anims\_compiled\HUMANS-C_FP_S0_2_STAND_3.MAN -r
_work\Data\Anims\_compiled\HUMANS-C_FP_S0_3.MAN -r
_work\Data\Anims\_compiled\HUMANS-C_FP_S1_1.MAN -r
_work\Data\Anims\_compiled\HUMANS-C_FP_S1_2.MAN -r
_work\Data\Anims\_compiled\HUMANS-C_FP_S1_2_STAND_1.MAN -r
_work\Data\Anims\_compiled\HUMANS-C_FP_S1_2_STAND_2.MAN -r
_work\Data\Anims\_compiled\HUMANS-C_FP_S1_2_STAND_3.MAN -r
_work\Data\Anims\_compiled\HUMANS-C_FP_S1_3.MAN -r
_work\Data\Anims\_compiled\HUMANS-C_FP_STAND_2_S0_1.MAN -r
_work\Data\Anims\_compiled\HUMANS-C_FP_STAND_2_S0_2.MAN -r
_work\Data\Anims\_compiled\HUMANS-C_FP_STAND_2_S0_3.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_BARRELO_S0.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_BARRELO_S1.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_BEDLOW_BACK_S0.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_BEDLOW_BACK_S1.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_BEDLOW_FRONT_S0.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_BEDLOW_FRONT_S1.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_BOW_AIM_MOVEF.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_BOW_AIM_MOVEL.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_BOW_AIM_MOVELF.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_BOW_AIM_MOVERF.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_CBOW_AIM_MOVEF.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_CBOW_AIM_MOVEL.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_CBOW_AIM_MOVELF.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_CBOW_AIM_MOVERF.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_EXCALIBUR_S0.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_EXCALIBUR_S1.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_EXPCAST.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_EXPSHOOT.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_FOTCAST.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_FOTSHOOT.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_MAGFRZ_AIM_MOVEF.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_MAGFRZ_AIM_MOVEL.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_MAGFRZ_AIM_MOVELF.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_MAGFRZ_AIM_MOVERF.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_MAGLIN_AIM_MOVEF.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_MAGLIN_AIM_MOVEL.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_MAGLIN_AIM_MOVELF.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_MAGLIN_AIM_MOVERF.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_MAGWND_AIM_MOVEF.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_MAGWND_AIM_MOVEL.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_MAGWND_AIM_MOVELF.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_MAGWND_AIM_MOVERF.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_MAG_AIM_MOVEF.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_MAG_AIM_MOVEL.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_MAG_AIM_MOVELF.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_MAG_AIM_MOVERF.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_PILLAR_S0.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_PILLAR_S1.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_PRIESTGRAVE_S0.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_PRIESTGRAVE_S1.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_RP2SHOOT.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_RP3SHOOT.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_RPFSHOOT.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_SPORTAL_S0.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_SPORTAL_S1.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_BARRELO_S0_2_S1.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_BARRELO_STAND_2_S0.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_BEDLOW_BACK_S0_2_S1.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_BEDLOW_BACK_S1_2_S0.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_BEDLOW_BACK_STAND_2_S0.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_BEDLOW_FRONT_S0_2_S1.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_BEDLOW_FRONT_S1_2_S0.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_BEDLOW_FRONT_STAND_2_S0.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_BOW_AIM_HURT.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_CBOW_AIM_HURT.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_EXCALIBUR_S0_2_S1.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_EXCALIBUR_S1_2_STAND.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_EXCALIBUR_STAND_2_S0.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_EXPCAST_2_EXPSHOOT.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_EXPSHOOT_2_STAND.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_FOTCAST_2_FOTSHOOT.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_FOTSHOOT_2_STAND.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_MAGRUN_2_EXPCAST.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_MAGRUN_2_FOTCAST.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_MAGRUN_2_RP2SHOOT.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_MAGRUN_2_RP3SHOOT.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_MAGRUN_2_RPFSHOOT.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_MAGWND_AIM_HURT.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_MAG_AIM_HURT.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_PILLAR_S0_2_S1.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_PILLAR_S1_2_S0.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_PILLAR_S1_2_STAND.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_PILLAR_STAND_2_S0.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_PRIESTGRAVE_S0_2_S1.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_PRIESTGRAVE_S0_2_STAND.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_PRIESTGRAVE_S1_2_STAND.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_PRIESTGRAVE_STAND_2_S0.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_RP2SHOOT_2_STAND.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_RP3SHOOT_2_STAND.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_RPFSHOOT_2_STAND.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_SPORTAL_S0_2_S1.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_SPORTAL_S0_2_STAND.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_SPORTAL_S1_2_STAND.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_SPORTAL_STAND_2_S0.MAN -r
_work\Data\Anims\_compiled\HUMANS.MDH -r
_work\Data\Anims\_compiled\HUMANS.MSB -r
_work\Data\Anims\_compiled\HUMANS_AXEST1-S_2HATTACK.MAN -r
_work\Data\Anims\_compiled\HUMANS_AXEST1-S_2HRUN.MAN -r
_work\Data\Anims\_compiled\HUMANS_AXEST1-S_2HRUNL.MAN -r
_work\Data\Anims\_compiled\HUMANS_AXEST1-S_2HWALKL.MAN -r
_work\Data\Anims\_compiled\HUMANS_AXEST1-S_JUMP.MAN -r
_work\Data\Anims\_compiled\HUMANS_AXEST1-T_2HATTACKL.MAN -r
_work\Data\Anims\_compiled\HUMANS_AXEST1-T_2HATTACKMOVE.MAN -r
_work\Data\Anims\_compiled\HUMANS_AXEST1-T_2HATTACKR.MAN -r
_work\Data\Anims\_compiled\HUMANS_AXEST1-T_2HPARADEJUMPB.MAN -r
_work\Data\Anims\_compiled\HUMANS_AXEST1-T_2HPARADE_0.MAN -r
_work\Data\Anims\_compiled\HUMANS_AXEST1-T_2HPARADE_0_A2.MAN -r
_work\Data\Anims\_compiled\HUMANS_AXEST1-T_2HPARADE_0_A3.MAN -r
_work\Data\Anims\_compiled\HUMANS_AXEST1-T_2HRUNL_2_2HRUN.MAN -r
_work\Data\Anims\_compiled\HUMANS_AXEST1-T_2HRUNTURNL.MAN -r
_work\Data\Anims\_compiled\HUMANS_AXEST1-T_2HRUNTURNR.MAN -r
_work\Data\Anims\_compiled\HUMANS_AXEST1-T_2HRUN_2_2HRUNL.MAN -r
_work\Data\Anims\_compiled\HUMANS_AXEST1-T_2HWALKL_2_2HWALK.MAN -r
_work\Data\Anims\_compiled\HUMANS_AXEST1-T_2HWALK_2_2HWALKL.MAN -r
_work\Data\Anims\_compiled\HUMANS_AXEST1-T_JUMP_2_STAND.MAN -r
_work\Data\Anims\_compiled\HUMANS_AXEST1-T_STAND_2_JUMP.MAN -r
_work\Data\Anims\_compiled\HUMANS_AXEST1.MDH -r
_work\Data\Anims\_compiled\HUMANS_AXEST1.MSB -r
_work\Data\Anims\_compiled\HUMANS_BOWT2-S_BOW_AIM_MOVEF.MAN -r
_work\Data\Anims\_compiled\HUMANS_BOWT2-S_BOW_AIM_MOVEL.MAN -r
_work\Data\Anims\_compiled\HUMANS_BOWT2-S_BOW_AIM_MOVELF.MAN -r
_work\Data\Anims\_compiled\HUMANS_BOWT2-S_BOW_AIM_MOVERF.MAN -r
_work\Data\Anims\_compiled\HUMANS_BOWT2.MDH -r
_work\Data\Anims\_compiled\HUMANS_BOWT2.MSB -r
_work\Data\Anims\_compiled\HUMANS_CBOWT2-S_CBOW_AIM_MOVEF.MAN -r
_work\Data\Anims\_compiled\HUMANS_CBOWT2-S_CBOW_AIM_MOVEL.MAN -r
_work\Data\Anims\_compiled\HUMANS_CBOWT2-S_CBOW_AIM_MOVELF.MAN -r
_work\Data\Anims\_compiled\HUMANS_CBOWT2-S_CBOW_AIM_MOVERF.MAN -r
_work\Data\Anims\_compiled\HUMANS_CBOWT2-T_CBOW_AIM_HURT.MAN -r
_work\Data\Anims\_compiled\HUMANS_CBOWT2.MDH -r
_work\Data\Anims\_compiled\HUMANS_CBOWT2.MSB -r
_work\Data\Anims\_compiled\HUMANS_MAGESPRINT-S_1HRUNL.MAN -r
_work\Data\Anims\_compiled\HUMANS_MAGESPRINT-S_2HRUNL.MAN -r
_work\Data\Anims\_compiled\HUMANS_MAGESPRINT-S_BOWRUNL.MAN -r
_work\Data\Anims\_compiled\HUMANS_MAGESPRINT-S_CBOWRUNL.MAN -r
_work\Data\Anims\_compiled\HUMANS_MAGESPRINT-S_FISTRUNL.MAN -r
_work\Data\Anims\_compiled\HUMANS_MAGESPRINT-S_MAGRUNL.MAN -r
_work\Data\Anims\_compiled\HUMANS_MAGESPRINT-S_RUNL.MAN -r
_work\Data\Anims\_compiled\HUMANS_MAGESPRINT.MDH -r
_work\Data\Anims\_compiled\HUMANS_MAGESPRINT.MSB -r
_work\Data\Anims\_compiled\HUMANS_PIRATE-S_1H.MAN -r
_work\Data\Anims\_compiled\HUMANS_PIRATE-S_1HATTACK.MAN -r
_work\Data\Anims\_compiled\HUMANS_PIRATE-S_1HRUN.MAN -r
_work\Data\Anims\_compiled\HUMANS_PIRATE-S_1HRUNL.MAN -r
_work\Data\Anims\_compiled\HUMANS_PIRATE-S_1HWALKL.MAN -r
_work\Data\Anims\_compiled\HUMANS_PIRATE-T_1HATTACKL.MAN -r
_work\Data\Anims\_compiled\HUMANS_PIRATE-T_1HATTACKMOVE.MAN -r
_work\Data\Anims\_compiled\HUMANS_PIRATE-T_1HATTACKR.MAN -r
_work\Data\Anims\_compiled\HUMANS_PIRATE-T_1HJUMPB.MAN -r
_work\Data\Anims\_compiled\HUMANS_PIRATE-T_1HPARADEJUMPB.MAN -r
_work\Data\Anims\_compiled\HUMANS_PIRATE-T_1HPARADE_0.MAN -r
_work\Data\Anims\_compiled\HUMANS_PIRATE-T_1HPARADE_0_A2.MAN -r
_work\Data\Anims\_compiled\HUMANS_PIRATE-T_1HPARADE_0_A3.MAN -r
_work\Data\Anims\_compiled\HUMANS_PIRATE-T_1HRUNL_2_1HRUN.MAN -r
_work\Data\Anims\_compiled\HUMANS_PIRATE-T_1HRUNTURNL.MAN -r
_work\Data\Anims\_compiled\HUMANS_PIRATE-T_1HRUNTURNR.MAN -r
_work\Data\Anims\_compiled\HUMANS_PIRATE-T_1HRUN_2_1H.MAN -r
_work\Data\Anims\_compiled\HUMANS_PIRATE-T_1HRUN_2_1HRUNL.MAN -r
_work\Data\Anims\_compiled\HUMANS_PIRATE-T_1HWALKL_2_1HWALK.MAN -r
_work\Data\Anims\_compiled\HUMANS_PIRATE-T_1HWALK_2_1HWALKL.MAN -r
_work\Data\Anims\_compiled\HUMANS_PIRATE-T_1H_2_1HRUN.MAN -r
_work\Data\Anims\_compiled\HUMANS_PIRATE-T_RUN_2_1H.MAN -r
_work\Data\Anims\_compiled\HUMANS_PIRATE.MDH -r
_work\Data\Anims\_compiled\HUMANS_PIRATE.MSB -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST1-S_1H.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST1-S_1HATTACK.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST1-S_1HRUN.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST1-S_1HRUNL.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST1-S_1HWALKL.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST1-T_1HATTACKL.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST1-T_1HATTACKMOVE.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST1-T_1HATTACKR.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST1-T_1HJUMPB.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST1-T_1HPARADEJUMPB.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST1-T_1HPARADE_0.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST1-T_1HPARADE_0_A2.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST1-T_1HPARADE_0_A3.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST1-T_1HRUNL_2_1HRUN.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST1-T_1HRUNTURNL.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST1-T_1HRUNTURNR.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST1-T_1HRUN_2_1H.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST1-T_1HRUN_2_1HRUNL.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST1-T_1HWALKL_2_1HWALK.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST1-T_1HWALK_2_1HWALKL.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST1-T_1H_2_1HRUN.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST1-T_RUN_2_1H.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST1.MDH -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST1.MSB -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST2-S_1H.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST2-S_1HATTACK.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST2-S_1HRUN.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST2-S_1HRUNL.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST2-S_1HWALKL.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST2-T_1HATTACKL.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST2-T_1HATTACKMOVE.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST2-T_1HATTACKR.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST2-T_1HJUMPB.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST2-T_1HPARADEJUMPB.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST2-T_1HPARADE_0.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST2-T_1HPARADE_0_A2.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST2-T_1HPARADE_0_A3.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST2-T_1HRUNL_2_1HRUN.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST2-T_1HRUNTURNL.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST2-T_1HRUNTURNR.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST2-T_1HRUN_2_1H.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST2-T_1HRUN_2_1HRUNL.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST2-T_1HWALKL_2_1HWALK.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST2-T_1HWALK_2_1HWALKL.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST2-T_1H_2_1HRUN.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST2-T_RUN_2_1H.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST2.MDH -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST2.MSB -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST3-S_1H.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST3-S_1HATTACK.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST3-S_1HRUN.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST3-S_1HRUNL.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST3-S_1HWALKL.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST3-T_1HATTACKL.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST3-T_1HATTACKMOVE.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST3-T_1HATTACKR.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST3-T_1HJUMPB.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST3-T_1HPARADEJUMPB.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST3-T_1HPARADE_0.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST3-T_1HPARADE_0_A2.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST3-T_1HPARADE_0_A3.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST3-T_1HRUNL_2_1HRUN.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST3-T_1HRUNTURNL.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST3-T_1HRUNTURNR.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST3-T_1HRUN_2_1H.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST3-T_1HRUN_2_1HRUNL.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST3-T_1HWALKL_2_1HWALK.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST3-T_1HWALK_2_1HWALKL.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST3-T_1H_2_1HRUN.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST3-T_RUN_2_1H.MAN -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST3.MDH -r
_work\Data\Anims\_compiled\HUMANS_RAPIER_ST3.MSB -r
_work\Data\Anims\_compiled\HUM_BODY_NAKED0.MDM -r
_work\Data\Anims\_compiled\SKELETON_WAIT-S_RUN.MAN -r
_work\Data\Anims\_compiled\SKELETON_WAIT.MDH -r
_work\Data\Anims\_compiled\SKELETON_WAIT.MSB -r
_work\Data\Anims\_compiled\LOVEBED_OC.MDL -r
_work\Data\Anims\_compiled\MOB_GONG.MDL -r
_work\Data\Anims\_compiled\MOB_PAUKE.MDL -r
_work\Data\Anims\_compiled\ORC_BODYCOMMANDER.MDM -r
_work\Data\Anims\_compiled\ORC_BODYSCOUT.MDM -r
_work\Data\Anims\_compiled\ORE_GROUND_IRON.MDL -r
_work\Data\Anims\_compiled\PILLAR_7M-S_S0.MAN -r
_work\Data\Anims\_compiled\PILLAR_7M-T_S0_2_S1.MAN -r
_work\Data\Anims\_compiled\PILLAR_7M.MDH -r
_work\Data\Anims\_compiled\PILLAR_7M.MDM -r
_work\Data\Anims\_compiled\PILLAR_7M.MSB -r
_work\Data\Anims\_compiled\PILLAR_ORC-S_S0.MAN -r
_work\Data\Anims\_compiled\PILLAR_ORC-S_S1.MAN -r
_work\Data\Anims\_compiled\PILLAR_ORC-T_S0_2_S1.MAN -r
_work\Data\Anims\_compiled\PILLAR_ORC-T_S1_2_S0.MAN -r
_work\Data\Anims\_compiled\PILLAR_ORC.MDH -r
_work\Data\Anims\_compiled\PILLAR_ORC.MDM -r
_work\Data\Anims\_compiled\PILLAR_ORC.MSB -r
_work\Data\Anims\_compiled\PRIESTGRAVE_OT.MDH -r
_work\Data\Anims\_compiled\PRIESTGRAVE_OT.MDM -r
_work\Data\Anims\_compiled\PRIESTGRAVE_OT.MSB -r
_work\Data\Anims\_compiled\PUSH_STONE-S_S0.MAN -r
_work\Data\Anims\_compiled\PUSH_STONE-S_S1.MAN -r
_work\Data\Anims\_compiled\PUSH_STONE-T_S0_2_S1.MAN -r
_work\Data\Anims\_compiled\PUSH_STONE.MDH -r
_work\Data\Anims\_compiled\PUSH_STONE.MDM -r
_work\Data\Anims\_compiled\PUSH_STONE.MSB -r
_work\Data\Anims\_compiled\SCAV_MEAT.MDL -r
_work\Data\Anims\_compiled\SECRETDOOR_STONE-S_S0.MAN -r
_work\Data\Anims\_compiled\SECRETDOOR_STONE-S_S1.MAN -r
_work\Data\Anims\_compiled\SECRETDOOR_STONE-T_S0_2_S1.MAN -r
_work\Data\Anims\_compiled\SECRETDOOR_STONE.MDH -r
_work\Data\Anims\_compiled\SECRETDOOR_STONE.MDM -r
_work\Data\Anims\_compiled\SECRETDOOR_STONE.MSB -r
_work\Data\Anims\_compiled\SKE_BODY3.MDM -r
_work\Data\Anims\_compiled\SKE_FLY_BODY.MDM -r
_work\Data\Anims\_compiled\SPORTAL_SLEEPER-S_S0.MAN -r
_work\Data\Anims\_compiled\SPORTAL_SLEEPER-S_S1.MAN -r
_work\Data\Anims\_compiled\SPORTAL_SLEEPER-T_S0_2_S1.MAN -r
_work\Data\Anims\_compiled\SPORTAL_SLEEPER-T_S0_2_S1.MAN -r
_work\Data\Anims\_compiled\SPORTAL_SLEEPER.MDH -r
_work\Data\Anims\_compiled\SPORTAL_SLEEPER.MDM -r
_work\Data\Anims\_compiled\SPORTAL_SLEEPER.MSB -r
_work\Data\Anims\_compiled\STOMPER_OM-S_S0.MAN -r
_work\Data\Anims\_compiled\STOMPER_OM-S_S0.MAN -r
_work\Data\Anims\_compiled\STOMPER_OM-S_S1.MAN -r
_work\Data\Anims\_compiled\STOMPER_OM-S_S1.MAN -r
_work\Data\Anims\_compiled\STOMPER_OM-T_S0_2_S1.MAN -r
_work\Data\Anims\_compiled\STOMPER_OM-T_S0_2_S1.MAN -r
_work\Data\Anims\_compiled\STOMPER_OM-T_S1_2_S0.MAN -r
_work\Data\Anims\_compiled\STOMPER_OM-T_S1_2_S0.MAN -r
_work\Data\Anims\_compiled\STOMPER_OM.MDH -r
_work\Data\Anims\_compiled\STOMPER_OM.MDH -r
_work\Data\Anims\_compiled\STOMPER_OM.MDL -r
_work\Data\Anims\_compiled\STOMPER_OM.MDL -r
_work\Data\Anims\_compiled\STOMPER_OM.MDM -r
_work\Data\Anims\_compiled\STOMPER_OM.MDM -r
_work\Data\Anims\_compiled\STOMPER_OM.MSB -r
_work\Data\Anims\_compiled\STOMPER_OM.MSB -r
_work\Data\Anims\_compiled\STONEMILL_OM-S_S0.MAN -r
_work\Data\Anims\_compiled\STONEMILL_OM-S_S0.MAN -r
_work\Data\Anims\_compiled\STONEMILL_OM-S_S1.MAN -r
_work\Data\Anims\_compiled\STONEMILL_OM-S_S1.MAN -r
_work\Data\Anims\_compiled\STONEMILL_OM-T_S0_2_S1.MAN -r
_work\Data\Anims\_compiled\STONEMILL_OM-T_S0_2_S1.MAN -r
_work\Data\Anims\_compiled\STONEMILL_OM-T_S1_2_S0.MAN -r
_work\Data\Anims\_compiled\STONEMILL_OM-T_S1_2_S0.MAN -r
_work\Data\Anims\_compiled\STONEMILL_OM.MDH -r
_work\Data\Anims\_compiled\STONEMILL_OM.MDH -r
_work\Data\Anims\_compiled\STONEMILL_OM.MDM -r
_work\Data\Anims\_compiled\STONEMILL_OM.MDM -r
_work\Data\Anims\_compiled\STONEMILL_OM.MSB -r
_work\Data\Anims\_compiled\STONEMILL_OM.MSB -r
_work\Data\Meshes\_compiled\ADDON_PLANTS_BUSH_01.MRM -r
_work\Data\Meshes\_compiled\ADDON_PLANTS_BUSH_01CR.MRM -r
_work\Data\Meshes\_compiled\ADDON_PLANTS_BUSH_02.MRM -r
_work\Data\Meshes\_compiled\ADDON_PLANTS_BUSH_02CR.MRM -r
_work\Data\Meshes\_compiled\ADDON_PLANTS_JUNGLETREE_03_123P.MRM -r
_work\Data\Meshes\_compiled\ADDON_PLANTS_SMALLTREE_01.MRM -r
_work\Data\Meshes\_compiled\ADDON_PLANTS_TREE_01_206P.MRM -r
_work\Data\Meshes\_compiled\ADDON_PLANTS_TREE_01_236P.MRM -r
_work\Data\Meshes\_compiled\ADDON_PLANTS_TREE_01_236P_V2.MRM -r
_work\Data\Meshes\_compiled\ADDON_PLANTS_TREE_03_279P.MRM -r
_work\Data\Meshes\_compiled\ADDON_STONES_CRYSTAL_01_V2_228P.MRM -r
_work\Data\Meshes\_compiled\ADDON_STONES_CRYSTAL_01_V3_228P.MRM -r
_work\Data\Meshes\_compiled\ADDON_STONES_CRYSTAL_01_V4_228P.MRM -r
_work\Data\Meshes\_compiled\ADDON_STONES_CRYSTAL_02_V2_228P.MRM -r
_work\Data\Meshes\_compiled\ADDON_STONES_CRYSTAL_02_V3_228P.MRM -r
_work\Data\Meshes\_compiled\ADDON_STONES_CRYSTAL_02_V4_228P.MRM -r
_work\Data\Meshes\_compiled\ADDON_STONES_CRYSTAL_TOP_V1_228P.MRM -r
_work\Data\Meshes\_compiled\ADDON_STONES_CRYSTAL_TOP_V2_228P.MRM -r
_work\Data\Meshes\_compiled\ADDON_VALLEYPLANT_TREE_01_L_357P.MRM -r
_work\Data\Meshes\_compiled\ADDON_VALLEYPLANT_TREE_01_XL_357P.MRM -r
_work\Data\Meshes\_compiled\ADDON_VALLEYPLANT_TREE_02_L_191P.MRM -r
_work\Data\Meshes\_compiled\ADDON_VALLEYPLANT_TREE_02_XL_191P.MRM -r
_work\Data\Meshes\_compiled\ADDON_VALLEYPLANT_TREE_03_XL_344P.MRM -r
_work\Data\Meshes\_compiled\ADDON_VALLEYPLANT_TREE_04_XL_304P.MRM -r
_work\Data\Meshes\_compiled\APPLE.MRM -r
_work\Data\Meshes\_compiled\ARCHERYTARGET01.MRM -r
_work\Data\Meshes\_compiled\ASM_ASPEN.MRM -r
_work\Data\Meshes\_compiled\ASM_BUSHES_1.MRM -r
_work\Data\Meshes\_compiled\ASM_BUSHES_2.MRM -r
_work\Data\Meshes\_compiled\ASM_BUSH_1.MRM -r
_work\Data\Meshes\_compiled\ASM_BUSH_2.MRM -r
_work\Data\Meshes\_compiled\ASM_BUSH_3.MRM -r
_work\Data\Meshes\_compiled\ASM_BUSH_4.MRM -r
_work\Data\Meshes\_compiled\ASM_BUSH_5.MRM -r
_work\Data\Meshes\_compiled\ASM_BUSH_6.MRM -r
_work\Data\Meshes\_compiled\ASM_FARN.MRM -r
_work\Data\Meshes\_compiled\ASM_FARN_1.MRM -r
_work\Data\Meshes\_compiled\ASM_FARN_2.MRM -r
_work\Data\Meshes\_compiled\ASM_FARN_3.MRM -r
_work\Data\Meshes\_compiled\ASM_MUSHROOMS.MRM -r
_work\Data\Meshes\_compiled\ASM_SMALLTREE.MRM -r
_work\Data\Meshes\_compiled\ASM_SMALLTREE_0.MRM -r
_work\Data\Meshes\_compiled\ASM_SMALLTREE_0_OLD.MRM -r
_work\Data\Meshes\_compiled\ASM_SMALLTREE_1.MRM -r
_work\Data\Meshes\_compiled\ASM_SMALLTREE_2.MRM -r
_work\Data\Meshes\_compiled\ASM_SMALLTREE_OLD.MRM -r
_work\Data\Meshes\_compiled\AW_CRATEPILE_01.MRM -r
_work\Data\Meshes\_compiled\AW_CRATE_01.MRM -r
_work\Data\Meshes\_compiled\BACON.MRM -r
_work\Data\Meshes\_compiled\BEER.MRM -r
_work\Data\Meshes\_compiled\BEET.MRM -r
_work\Data\Meshes\_compiled\BOOZE.MRM -r
_work\Data\Meshes\_compiled\BREAD_1.MRM -r
_work\Data\Meshes\_compiled\BREAD_2.MRM -r
_work\Data\Meshes\_compiled\BSFIRE_OC_TOP.MRM -r
_work\Data\Meshes\_compiled\CARPET_01.MRM -r
_work\Data\Meshes\_compiled\CARPET_02.MRM -r
_work\Data\Meshes\_compiled\CAVE_MUSHROOM_01.MRM -r
_work\Data\Meshes\_compiled\CHEESE.MRM -r
_work\Data\Meshes\_compiled\CUPRESSUS_01.MRM -r
_work\Data\Meshes\_compiled\DEMONSTATUE_01.MRM -r
_work\Data\Meshes\_compiled\DT_LIGHTER_PENTAGRAMM.MRM -r
_work\Data\Meshes\_compiled\DT_TABLE_01.MRM -r
_work\Data\Meshes\_compiled\FISH.MRM -r
_work\Data\Meshes\_compiled\GRASS_G3_01.MRM -r
_work\Data\Meshes\_compiled\HONEY.MRM -r
_work\Data\Meshes\_compiled\ITAM_ADDON_FRANCO.MRM -r
_work\Data\Meshes\_compiled\ITAM_ADDON_HEALTH.MRM -r
_work\Data\Meshes\_compiled\ITAM_ADDON_MANA.MRM -r
_work\Data\Meshes\_compiled\ITAM_ADDON_STR.MRM -r
_work\Data\Meshes\_compiled\ITAM_ADDON_WISPDETECTOR.MRM -r
_work\Data\Meshes\_compiled\ITAM_AMULETTOFDEATH_MIS.MRM -r
_work\Data\Meshes\_compiled\ITAT_BLATTCRAWLER_01.MRM -r
_work\Data\Meshes\_compiled\ITAT_BUGMANDIBLES.MRM -r
_work\Data\Meshes\_compiled\ITAT_CLAWLEADER.MRM -r
_work\Data\Meshes\_compiled\ITAT_CRAWLERMANDIBLES.MRM -r
_work\Data\Meshes\_compiled\ITAT_CRAWLERPLATE.MRM -r
_work\Data\Meshes\_compiled\ITAT_DEMONHEART.MRM -r
_work\Data\Meshes\_compiled\ITAT_DRAGONSCALE.MRM -r
_work\Data\Meshes\_compiled\ITAT_FIREDRAGONHEART.MRM -r
_work\Data\Meshes\_compiled\ITAT_ICEDRAGONHEART.MRM -r
_work\Data\Meshes\_compiled\ITAT_ICEWOLFFUR.MRM -r
_work\Data\Meshes\_compiled\ITAT_LURKERCLAW.MRM -r
_work\Data\Meshes\_compiled\ITAT_ROCKDRAGONHEART.MRM -r
_work\Data\Meshes\_compiled\ITAT_SHELLFLESH.MRM -r
_work\Data\Meshes\_compiled\ITAT_SWAMPGOLEMHEART.MRM -r
_work\Data\Meshes\_compiled\ITAT_TALBINSLURKERSKIN.MRM -r
_work\Data\Meshes\_compiled\ITAT_TROLLBLACKFUR.MRM -r
_work\Data\Meshes\_compiled\ITAT_UNDEADDRAGONSOULSTONE.MRM -r
_work\Data\Meshes\_compiled\ITAT_WARGFUR.MRM -r
_work\Data\Meshes\_compiled\ITMISWORDRAWHOT.MRM -r
_work\Data\Meshes\_compiled\ITMI_ADDON_GREGSTREASUREBOTTLE_MIS.MRM -r
_work\Data\Meshes\_compiled\ITMI_ADDON_JOINT_01.MRM -r
_work\Data\Meshes\_compiled\ITMI_BLOODCUP.MRM -r
_work\Data\Meshes\_compiled\ITMI_BRUSH.MRM -r
_work\Data\Meshes\_compiled\ITMI_COMPASS_01.MRM -r
_work\Data\Meshes\_compiled\ITMI_CORAGONSSILBER.MRM -r
_work\Data\Meshes\_compiled\ITMI_EROLSKELCH.MRM -r
_work\Data\Meshes\_compiled\ITMI_FLASK.MRM -r
_work\Data\Meshes\_compiled\ITMI_FOODPOCKET.MRM -r
_work\Data\Meshes\_compiled\ITMI_GOLDHEAP.MRM -r
_work\Data\Meshes\_compiled\ITMI_GOLDNECKLACE_CHAIN.MRM -r
_work\Data\Meshes\_compiled\ITMI_HERBPAKET.MRM -r
_work\Data\Meshes\_compiled\ITMI_HOLYWATER.MRM -r
_work\Data\Meshes\_compiled\ITMI_KARRASBLESSEDSTONE.MRM -r
_work\Data\Meshes\_compiled\ITMI_MARIASGOLDPLATE.MRM -r
_work\Data\Meshes\_compiled\ITMI_MOLERATLUBRIC.MRM -r
_work\Data\Meshes\_compiled\ITMI_POCKET.MRM -r
_work\Data\Meshes\_compiled\ITMI_SILVERNECKLACE_CHAIN.MRM -r
_work\Data\Meshes\_compiled\ITMI_ULTHARSHOLYWATER.MRM -r
_work\Data\Meshes\_compiled\ITPL_PERM_HERB.MRM -r
_work\Data\Meshes\_compiled\ITPL_SPEED_HERB_01.MRM -r
_work\Data\Meshes\_compiled\ITPL_STRENGTH_HERB_01.MRM -r
_work\Data\Meshes\_compiled\ITPL_STRENGTH_HERB_02.MRM -r
_work\Data\Meshes\_compiled\ITPL_SWAMPHERB.MRM -r
_work\Data\Meshes\_compiled\ITPL_WEED.MRM -r
_work\Data\Meshes\_compiled\ITPO_HEALHILDA.MRM -r
_work\Data\Meshes\_compiled\ITPO_HEALOBSESSION.MRM -r
_work\Data\Meshes\_compiled\ITPO_HEALRANDOLPH.MRM -r
_work\Data\Meshes\_compiled\ITPO_HEALTH_01.MRM -r
_work\Data\Meshes\_compiled\ITPO_HEALTH_02.MRM -r
_work\Data\Meshes\_compiled\ITPO_HEALTH_03.MRM -r
_work\Data\Meshes\_compiled\ITPO_HEALTH_04.MRM -r
_work\Data\Meshes\_compiled\ITPO_MANA_01.MRM -r
_work\Data\Meshes\_compiled\ITPO_MANA_02.MRM -r
_work\Data\Meshes\_compiled\ITPO_MANA_03.MRM -r
_work\Data\Meshes\_compiled\ITPO_MANA_04.MRM -r
_work\Data\Meshes\_compiled\ITPO_PERM_DEX.MRM -r
_work\Data\Meshes\_compiled\ITPO_PERM_HEALTH.MRM -r
_work\Data\Meshes\_compiled\ITPO_PERM_MANA.MRM -r
_work\Data\Meshes\_compiled\ITPO_PERM_STR.MRM -r
_work\Data\Meshes\_compiled\ITPO_SPECIAL_01.MRM -r
_work\Data\Meshes\_compiled\ITPO_SPECIAL_02.MRM -r
_work\Data\Meshes\_compiled\ITPO_SPECIAL_03.MRM -r
_work\Data\Meshes\_compiled\ITPO_SPEED.MRM -r
_work\Data\Meshes\_compiled\ITRI_ADDON_BANDITTRADER.MRM -r
_work\Data\Meshes\_compiled\ITRI_ADDON_HEALTH.MRM -r
_work\Data\Meshes\_compiled\ITRI_ADDON_MANA.MRM -r
_work\Data\Meshes\_compiled\ITRI_ADDON_MORGANSRING.MRM -r
_work\Data\Meshes\_compiled\ITRI_ADDON_STR.MRM -r
_work\Data\Meshes\_compiled\ITRI_FERNANDO.MRM -r
_work\Data\Meshes\_compiled\ITRI_ORCELITERING.MRM -r
_work\Data\Meshes\_compiled\ITRI_RANGERRING.MRM -r
_work\Data\Meshes\_compiled\ITRI_XARDAS.MRM -r
_work\Data\Meshes\_compiled\ITRU_ACID.MRM -r
_work\Data\Meshes\_compiled\ITRU_ADANOSBALL.MRM -r
_work\Data\Meshes\_compiled\ITRU_EXPLOSION.MRM -r
_work\Data\Meshes\_compiled\ITRU_EXTRICATE.MRM -r
_work\Data\Meshes\_compiled\ITRU_HEALOTHER.MRM -r
_work\Data\Meshes\_compiled\ITRU_MAGICCAGE.MRM -r
_work\Data\Meshes\_compiled\ITRU_QUAKE.MRM -r
_work\Data\Meshes\_compiled\ITRU_RAGE.MRM -r
_work\Data\Meshes\_compiled\ITRW_BOW_H_01.MRM -r
_work\Data\Meshes\_compiled\ITRW_BOW_H_02.MRM -r
_work\Data\Meshes\_compiled\ITRW_BOW_H_03.MRM -r
_work\Data\Meshes\_compiled\ITRW_BOW_L_01.MRM -r
_work\Data\Meshes\_compiled\ITRW_BOW_L_02.MRM -r
_work\Data\Meshes\_compiled\ITRW_BOW_L_03.MRM -r
_work\Data\Meshes\_compiled\ITRW_BOW_L_04.MRM -r
_work\Data\Meshes\_compiled\ITRW_BOW_M_01.MRM -r
_work\Data\Meshes\_compiled\ITRW_BOW_M_02.MRM -r
_work\Data\Meshes\_compiled\ITRW_BOW_M_03.MRM -r
_work\Data\Meshes\_compiled\ITRW_BOW_M_04.MRM -r
_work\Data\Meshes\_compiled\ITRW_CROSSBOW_H_02.MRM -r
_work\Data\Meshes\_compiled\ITRW_CROSSBOW_L_02.MRM -r
_work\Data\Meshes\_compiled\ITRW_CROSSBOW_M_02.MRM -r
_work\Data\Meshes\_compiled\ITRW_FIREARROW.MRM -r
_work\Data\Meshes\_compiled\ITRW_MAGICARROW.MRM -r
_work\Data\Meshes\_compiled\ITRW_MAGICBOLT.MRM -r
_work\Data\Meshes\_compiled\ITSC_ACID.MRM -r
_work\Data\Meshes\_compiled\ITSC_ADANOSBALL.MRM -r
_work\Data\Meshes\_compiled\ITSC_CHARM.MRM -r
_work\Data\Meshes\_compiled\ITSC_EXPLOSION.MRM -r
_work\Data\Meshes\_compiled\ITSC_EXTRICATE.MRM -r
_work\Data\Meshes\_compiled\ITSC_HEALOTHER.MRM -r
_work\Data\Meshes\_compiled\ITSC_MAGICCAGE.MRM -r
_work\Data\Meshes\_compiled\ITSC_QUAKE.MRM -r
_work\Data\Meshes\_compiled\ITSC_RAGE.MRM -r
_work\Data\Meshes\_compiled\ITSC_TELEPORT_MAYA.MRM -r
_work\Data\Meshes\_compiled\ITSE_ADDON_FRANCISCHEST.MRM -r
_work\Data\Meshes\_compiled\ITWR_BABOSPINUP_MIS.MRM -r
_work\Data\Meshes\_compiled\ITWR_BOOK_02_01_1.MRM -r
_work\Data\Meshes\_compiled\ITWR_BOOK_02_01_2.MRM -r
_work\Data\Meshes\_compiled\ITWR_BOOK_02_03.MRM -r
_work\Data\Meshes\_compiled\ITWR_BOOK_02_04.MRM -r
_work\Data\Meshes\_compiled\ITWR_BOOK_02_05.MRM -r
_work\Data\Meshes\_compiled\ITWR_BOOK_03_03.MRM -r
_work\Data\Meshes\_compiled\ITWR_BOOK_03_04.MRM -r
_work\Data\Meshes\_compiled\ITWR_BOOK_03_05.MRM -r
_work\Data\Meshes\_compiled\ITWR_BOOK_RUNEMAKING_KDF.MRM -r
_work\Data\Meshes\_compiled\ITWR_BOOK_RUNEMAKING_KDW.MRM -r
_work\Data\Meshes\_compiled\ITWR_MAP_AW.MRM -r
_work\Data\Meshes\_compiled\ITWR_MAP_CITY.MRM -r
_work\Data\Meshes\_compiled\ITWR_MAP_DI.MRM -r
_work\Data\Meshes\_compiled\ITWR_MAP_NW_01.MRM -r
_work\Data\Meshes\_compiled\ITWR_MAP_NW_02.MRM -r
_work\Data\Meshes\_compiled\ITWR_MAP_OW.MRM -r
_work\Data\Meshes\_compiled\ITWR_POSTER_MIS.MRM -r
_work\Data\Meshes\_compiled\ITWR_SCROLL_01.MRM -r
_work\Data\Meshes\_compiled\JUNGLETREE_02_163P.MRM -r
_work\Data\Meshes\_compiled\MAGICCAGE.MRM -r
_work\Data\Meshes\_compiled\MAGSHIELD.MSH -r
_work\Data\Meshes\_compiled\MAP_ORCASSAULT.MRM -r
_work\Data\Meshes\_compiled\MIN_LOB_COUPLESTONES.MRM -r
_work\Data\Meshes\_compiled\MIN_LOB_STONE_V2_30.MRM -r
_work\Data\Meshes\_compiled\MIN_LOB_STONE_V3_30.MRM -r
_work\Data\Meshes\_compiled\MUG.MRM -r
_work\Data\Meshes\_compiled\MUTTON_2.MRM -r
_work\Data\Meshes\_compiled\NC_LOB_TABLE1.MRM -r
_work\Data\Meshes\_compiled\NC_LOB_TABLE2.MRM -r
_work\Data\Meshes\_compiled\NE_AVATAR_EGG.MRM -r
_work\Data\Meshes\_compiled\NW_CAVE_DEC_01.MRM -r
_work\Data\Meshes\_compiled\NW_CAVE_DEC_02.MRM -r
_work\Data\Meshes\_compiled\NW_CAVE_DEC_02_1.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_BEERBARREL_01.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_BOOKS_01.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_CANDELABRA_01.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_CANDLELANTERN_02.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_CANDLE_01.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_CART_01.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_CLOTHES_01.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_CLOTHES_02.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_CLOTHES_03.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_CLOTHES_04.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_CNSTBOOKSHELF_01.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_COUNTER_01.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_CTABLE_0.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_CUPBOARD_POOR_01.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_CUPBOARD_POOR_02.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_DECO_PICTURE_02_01.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_DECO_PICTURE_02_02.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_DECO_PICTURE_02_03.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_DECO_PICTURE_02_04.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_DECO_WOLFHEAD_01.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_DECSTAIR_01.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_DININGSET_01.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_DININGSET_02.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_FIREWOOD_02.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_LHBKSBEAMS_01.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_LHBKSBEAMS_02.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_MAP_WAR_CLOSED_01.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_MARKETDEC_01.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_SHELF_01.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_SIGN_BOOKS_01.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_TABLE_HARAD_01.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_TABLE_NORMAL_01.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_TABLE_PEASANT_01.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_TABLE_WAR_01.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_TREE_01.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_WALLSHELF_01.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_WALLSHELF_02_FB.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_WEAPON_BARREL_01.MRM -r
_work\Data\Meshes\_compiled\NW_COASTWOOD_01.MRM -r
_work\Data\Meshes\_compiled\NW_COASTWOOD_02.MRM -r
_work\Data\Meshes\_compiled\NW_COASTWOOD_03.MRM -r
_work\Data\Meshes\_compiled\NW_DRAGONISLE_TORTURE_02.MRM -r
_work\Data\Meshes\_compiled\NW_DRAGONISLE_TORTURE_04.MRM -r
_work\Data\Meshes\_compiled\NW_FERN_FOREST_CAVE_01.MRM -r
_work\Data\Meshes\_compiled\NW_FERN_FOREST_CAVE_02.MRM -r
_work\Data\Meshes\_compiled\NW_FERN_FOREST_CAVE_03.MRM -r
_work\Data\Meshes\_compiled\NW_FERN_FOREST_CAVE_04.MRM -r
_work\Data\Meshes\_compiled\NW_GROUNDCLOVER01.MRM -r
_work\Data\Meshes\_compiled\NW_GROUNDCLOVER01_MAPLE.MRM -r
_work\Data\Meshes\_compiled\NW_GROUNDCLOVER01_MAPLE_2.MRM -r
_work\Data\Meshes\_compiled\NW_GROUNDCLOVER02.MRM -r
_work\Data\Meshes\_compiled\NW_GROUNDCLOVER03.MRM -r
_work\Data\Meshes\_compiled\NW_GROUNDCLOVER04.MRM -r
_work\Data\Meshes\_compiled\NW_GROUNDCOVER_01.MRM -r
_work\Data\Meshes\_compiled\NW_HALVOR_MARKETSTALL.MRM -r
_work\Data\Meshes\_compiled\NW_HARBOUR_BARRELGROUP_01.MRM -r
_work\Data\Meshes\_compiled\NW_HARBOUR_BARRELGROUP_02.MRM -r
_work\Data\Meshes\_compiled\NW_HARBOUR_BARREL_01.MRM -r
_work\Data\Meshes\_compiled\NW_HARBOUR_CRATEPILE_01.MRM -r
_work\Data\Meshes\_compiled\NW_HARBOUR_CRATE_01.MRM -r
_work\Data\Meshes\_compiled\NW_HARBOUR_ROPE_01.MRM -r
_work\Data\Meshes\_compiled\NW_HARBOUR_SMALL_BOAT_01.MRM -r
_work\Data\Meshes\_compiled\NW_HARBOUR_SMALL_BOAT_02.MRM -r
_work\Data\Meshes\_compiled\NW_HARBOUR_SMALL_BOAT_03.MRM -r
_work\Data\Meshes\_compiled\NW_KORN_01.MRM -r
_work\Data\Meshes\_compiled\NW_KORN_02.MRM -r
_work\Data\Meshes\_compiled\NW_KORN_02_X2.MRM -r
_work\Data\Meshes\_compiled\NW_KORN_02_X2_1.MRM -r
_work\Data\Meshes\_compiled\NW_KORN_06.MRM -r
_work\Data\Meshes\_compiled\NW_KORN_1.MRM -r
_work\Data\Meshes\_compiled\NW_MARKETSTALL_01_1.MRM -r
_work\Data\Meshes\_compiled\NW_MATTEO_MARKETSTALL.MRM -r
_work\Data\Meshes\_compiled\NW_MISC_BOOT_01.MRM -r
_work\Data\Meshes\_compiled\NW_MISC_BUCKET_01.MRM -r
_work\Data\Meshes\_compiled\NW_MISC_CRATE_SMALL_01.MRM -r
_work\Data\Meshes\_compiled\NW_MISC_CUSHION_01.MRM -r
_work\Data\Meshes\_compiled\NW_MISC_DECO_INNOS_LARGE_02.MRM -r
_work\Data\Meshes\_compiled\NW_MISC_FRM_FIREWOOD_01.MRM -r
_work\Data\Meshes\_compiled\NW_MISC_INNOS_GROUND_02.MRM -r
_work\Data\Meshes\_compiled\NW_MISC_SACK_01.MRM -r
_work\Data\Meshes\_compiled\NW_MISC_SACK_02.MRM -r
_work\Data\Meshes\_compiled\NW_MISC_WALLDEC_01.MRM -r
_work\Data\Meshes\_compiled\NW_MISC_WPLANKS_01.MRM -r
_work\Data\Meshes\_compiled\NW_MISC_WPLANKS_FENCE_01.MRM -r
_work\Data\Meshes\_compiled\NW_MISC_WPLANKS_FENCE_02.MRM -r
_work\Data\Meshes\_compiled\NW_MISC_WPLANKS_FENCE_03.MRM -r
_work\Data\Meshes\_compiled\NW_MISC_XBEAM_01.MRM -r
_work\Data\Meshes\_compiled\NW_MISC_XBEAM_01_N.MRM -r
_work\Data\Meshes\_compiled\NW_MISC_XBEAM_02.MRM -r
_work\Data\Meshes\_compiled\NW_NATG3.MRM -r
_work\Data\Meshes\_compiled\NW_NATG3_OLD.MRM -r
_work\Data\Meshes\_compiled\NW_NATG6_TREE.MRM -r
_work\Data\Meshes\_compiled\NW_NATG6_TREE_2.MRM -r
_work\Data\Meshes\_compiled\NW_NATG6_TREE_3.MRM -r
_work\Data\Meshes\_compiled\NW_NATG7.MRM -r
_work\Data\Meshes\_compiled\NW_NATG7_2.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_BAUMSTAMM_01_30P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_BAUMSTAMM_166P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_BAUMSTUMPF_111P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_BIGTREE_111P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_BIGTREE_300P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_BIGTREE_310P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_BIGTREE_311P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_BIGTREE_356P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_BIGTREE_356P_MAPLE.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_BIGTREE_777P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_BIGTREE_FALL_01.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_BUSH_120P_OLD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_BUSH_25P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_BUSH_25P_01.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_BUSH_25P_1.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_BUSH_300P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_BUSH_56P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_BUSH_665P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_BUSH_665P_X2.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_BUSH_666P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_BUSH_666P_X2.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_BUSH_DEAD_01.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_DARKTREE_N01.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_FARNTEPPICH_155P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_FARNTEPPICH_408P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_FC_01.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_FC_02.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_FC_02_2.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_FC_02_3.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_FFWOOD_01.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_FFWOOD_03.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_FL_01.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_GRASSGROUP_01.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_GRASSGROUP_01_1.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_GRASSGROUP_01_11.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_GRASSGROUP_01_2.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_GRASSGROUP_01_2_OLD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_GRASSGROUP_01_3.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_GRASSGROUP_01_4.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_GRASSGROUP_01_4_OLD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_GRASSGROUP_01_5.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_GRASSGROUP_01_5_OLD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_GRASSGROUP_01_6.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_GRASSGROUP_01_6_OLD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_GRASSGROUP_01_OLD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_GRASSGROUP_02.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_GRASSGROUP_08.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_GRASSGROUP_08_1.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_GRASSGROUP_08_2.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_GRASSGROUP_09.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_GRASSGROUP_09_1.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_GRASSGROUP_09_2.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_HANGPLANTS_110.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_HANGPLANTS_111.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_HOHETANNEN_01_531P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_HOHETANNEN_02_531P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_HOHETANNE_59P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_HOHETANNE_91P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_HOHETANNE_MIDDLE_59P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_HOHETANNE_VERYHIGH_59P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_PLANT_02.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_PLANT_03.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SIDEPLANT_01.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SIDEPLANT_CORNER_01.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_103P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_111P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_111P_OLD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_222P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_222P_OLD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_223P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_223P_OLD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_300P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_300P_OLD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_333P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_333P_GRD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_40P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_77P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_77P_OLD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_78P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_78P_OLD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_79P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_79P_OLD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_79P_X1.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_79P_X1_OAK.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_79P_X1_OAK_OLD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_79P_X1_OLD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_79P_X2.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_79P_X2_OAK.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_79P_X2_OAK_OLD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_79P_X2_OLD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_80P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_TANNE_100P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_TANNE_100P_DEAD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_TANNE_110P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_TANNE_33P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_TANNE_33P_DEAD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_TANNE_75P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_TANNE_75P_DEAD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_TANNE_85P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_TANNE_90P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_WATERGRASS_02_100P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_WATERGRASS_56P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_WATERLILI_RED_32P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_WATERLILI_WHITE_32P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_WATERLILI_WHITE_64P.MRM -r
_work\Data\Meshes\_compiled\NW_PINESHRUB_01.MRM -r
_work\Data\Meshes\_compiled\NW_REDLANTERN_DEC_01.MRM -r
_work\Data\Meshes\_compiled\NW_REDLANTERN_DEC_02.MRM -r
_work\Data\Meshes\_compiled\NW_REDLANTERN_DEC_03.MRM -r
_work\Data\Meshes\_compiled\NW_REDLANTERN_DEC_04.MRM -r
_work\Data\Meshes\_compiled\NW_REDLANTERN_DEC_05.MRM -r
_work\Data\Meshes\_compiled\NW_REDLANTERN_DEC_07.MRM -r
_work\Data\Meshes\_compiled\NW_REDLANTERN_DEC_08.MRM -r
_work\Data\Meshes\_compiled\NW_REDLANTERN_DRAPERY_01.MRM -r
_work\Data\Meshes\_compiled\NW_REDLANTERN_DRAPERY_02.MRM -r
_work\Data\Meshes\_compiled\NW_REDLANTERN_ROSEGROUP_01.MRM -r
_work\Data\Meshes\_compiled\NW_REDLANTERN_ROSE_01.MRM -r
_work\Data\Meshes\_compiled\NW_ROCKSGRASS_01.MRM -r
_work\Data\Meshes\_compiled\OC_BARRELS_REIHE.MRM -r
_work\Data\Meshes\_compiled\OC_BARRELS_STRUBBELIG.MRM -r
_work\Data\Meshes\_compiled\OC_BARREL_V1.MRM -r
_work\Data\Meshes\_compiled\OC_BARREL_V1_DESTROYED.MRM -r
_work\Data\Meshes\_compiled\OC_CARPET_01.MRM -r
_work\Data\Meshes\_compiled\OC_CARPET_02.MRM -r
_work\Data\Meshes\_compiled\OC_DECORATE_V2.MRM -r
_work\Data\Meshes\_compiled\OC_DECORATE_V2B.MRM -r
_work\Data\Meshes\_compiled\OC_FIREPLACE_V5.MRM -r
_work\Data\Meshes\_compiled\OC_FIREWOOD_V1.MRM -r
_work\Data\Meshes\_compiled\OC_KITCHENSTUFF_V02.MRM -r
_work\Data\Meshes\_compiled\OC_LOB_BOWTRAIN.MRM -r
_work\Data\Meshes\_compiled\OC_LOB_TORCHHOLDER_FILLED.MRM -r
_work\Data\Meshes\_compiled\OC_MOB_RITUAL_SHELVES_01.MRM -r
_work\Data\Meshes\_compiled\OC_OLDDRAPERY_01.MRM -r
_work\Data\Meshes\_compiled\OC_OLDDRAPERY_02.MRM -r
_work\Data\Meshes\_compiled\OC_OLDDRAPERY_03.MRM -r
_work\Data\Meshes\_compiled\OC_PICTURE_V2_1.MRM -r
_work\Data\Meshes\_compiled\OC_PICTURE_V2_2.MRM -r
_work\Data\Meshes\_compiled\OC_PICTURE_V3.MRM -r
_work\Data\Meshes\_compiled\OC_PICTURE_V4.MRM -r
_work\Data\Meshes\_compiled\OC_SACK_V03.MRM -r
_work\Data\Meshes\_compiled\OC_SAECKE_01.MRM -r
_work\Data\Meshes\_compiled\OC_STAIRS_01.MRM -r
_work\Data\Meshes\_compiled\OC_STAIRS_05.MRM -r
_work\Data\Meshes\_compiled\OC_WELL_V1.MRM -r
_work\Data\Meshes\_compiled\OM_OREBOX_01.MRM -r
_work\Data\Meshes\_compiled\ORC_STATUE_03.MRM -r
_work\Data\Meshes\_compiled\OW_BSTABLE_01.MRM -r
_work\Data\Meshes\_compiled\OW_FOREST_HANGHIM_TREE_V3.MRM -r
_work\Data\Meshes\_compiled\OW_GRASS_WINTER_01.MRM -r
_work\Data\Meshes\_compiled\OW_LOB_BUSH_REED_V1.MRM -r
_work\Data\Meshes\_compiled\OW_LOB_BUSH_V1.MRM -r
_work\Data\Meshes\_compiled\OW_LOB_BUSH_V2.MRM -r
_work\Data\Meshes\_compiled\OW_LOB_BUSH_V7.MRM -r
_work\Data\Meshes\_compiled\OW_LOB_BUSH_V8.MRM -r
_work\Data\Meshes\_compiled\OW_LOB_DEADTREE_04.MRM -r
_work\Data\Meshes\_compiled\OW_LOB_DEADTREE_07.MRM -r
_work\Data\Meshes\_compiled\OW_LOB_TREEGROUP_V3.MRM -r
_work\Data\Meshes\_compiled\OW_LOB_TREE_DESTROYED_V2.MRM -r
_work\Data\Meshes\_compiled\OW_LOB_TREE_ROOT_V2.MRM -r
_work\Data\Meshes\_compiled\OW_LOB_TREE_V10.MRM -r
_work\Data\Meshes\_compiled\OW_LOB_TREE_V11.MRM -r
_work\Data\Meshes\_compiled\OW_LOB_TREE_V111.MRM -r
_work\Data\Meshes\_compiled\OW_LOB_TREE_V11_1.MRM -r
_work\Data\Meshes\_compiled\OW_LOB_WOODPLANKS_V2.MRM -r
_work\Data\Meshes\_compiled\OW_MUSHROOM_V1.MRM -r
_work\Data\Meshes\_compiled\OW_MUSHROOM_V2.MRM -r
_work\Data\Meshes\_compiled\OW_NATURE_BIG_TREE_02_380P.MRM -r
_work\Data\Meshes\_compiled\OW_NATURE_BUSH_01.MRM -r
_work\Data\Meshes\_compiled\OW_NATURE_BUSH_02.MRM -r
_work\Data\Meshes\_compiled\OW_NATURE_OLDTREE_02.MRM -r
_work\Data\Meshes\_compiled\OW_NATURE_SMALLTREE_01.MRM -r
_work\Data\Meshes\_compiled\OW_NATURE_SMALLTREE_111.MRM -r
_work\Data\Meshes\_compiled\OW_NORTHERNPINE.MRM -r
_work\Data\Meshes\_compiled\OW_NORTHERNPINE_02.MRM -r
_work\Data\Meshes\_compiled\OW_NORTHERNPINE_03.MRM -r
_work\Data\Meshes\_compiled\OW_PLANKHUTII_02.MRM -r
_work\Data\Meshes\_compiled\OW_TREESTUMP01.MRM -r
_work\Data\Meshes\_compiled\PLATE_1.MRM -r
_work\Data\Meshes\_compiled\PLATE_2.MRM -r
_work\Data\Meshes\_compiled\SAUSAGE.MRM -r
_work\Data\Meshes\_compiled\SKULL_01.MRM -r
_work\Data\Meshes\_compiled\SK_ASPEN_05.MRM -r
_work\Data\Meshes\_compiled\SK_ASPEN_05_SM.MRM -r
_work\Data\Meshes\_compiled\SK_IVY_01.MRM -r
_work\Data\Meshes\_compiled\SK_REACHFERN_01.MRM -r
_work\Data\Meshes\_compiled\SK_REACHFERN_02.MRM -r
_work\Data\Meshes\_compiled\SK_REACHFERN_03.MRM -r
_work\Data\Meshes\_compiled\SK_SWORDFERNCLUSTER_01.MRM -r
_work\Data\Meshes\_compiled\SK_VINEMAPLE_01.MRM -r
_work\Data\Meshes\_compiled\STAIR_WOOD_1_50DEG.MRM -r
_work\Data\Meshes\_compiled\STALAG_V01.MRM -r
_work\Data\Meshes\_compiled\STALAG_V02.MRM -r
_work\Data\Meshes\_compiled\STALAG_V03.MRM -r
_work\Data\Meshes\_compiled\STEW.MRM -r
_work\Data\Meshes\_compiled\WATER.MRM -r
_work\Data\Meshes\_compiled\WINE.MRM -r
_work\Data\Textures\_compiled\AC_TENT_01-C.TEX -r
_work\Data\Textures\_compiled\AC_WPLANKS_01-C.TEX -r
_work\Data\Textures\_compiled\APPLETEX_01-C.TEX -r
_work\Data\Textures\_compiled\APPLETEX_02-C.TEX -r
_work\Data\Textures\_compiled\ARCHERYTARGET01-C.TEX -r
_work\Data\Textures\_compiled\AVATAR_EGG-C.TEX -r
_work\Data\Textures\_compiled\AW_LEAVES_02-C.TEX -r
_work\Data\Textures\_compiled\AW_LEAVES_03-C.TEX -r
_work\Data\Textures\_compiled\BARREL01-C.TEX -r
_work\Data\Textures\_compiled\CAMPFIRE_WOODFIRES01-C.TEX -r
_work\Data\Textures\_compiled\CANDLES01-C.TEX -r
_work\Data\Textures\_compiled\CAP_04-C.TEX -r
_work\Data\Textures\_compiled\CARPET_01-C.TEX -r
_work\Data\Textures\_compiled\CARPET_02-C.TEX -r
_work\Data\Textures\_compiled\CAVE_MUSHROOM_01-C.TEX -r
_work\Data\Textures\_compiled\CHEESE_TEX-C.TEX -r
_work\Data\Textures\_compiled\COMPASS-C.TEX -r
_work\Data\Textures\_compiled\CUPRESSUS-C.TEX -r
_work\Data\Textures\_compiled\CURRYLEAVES_01-C.TEX -r
_work\Data\Textures\_compiled\CURRYLEAVES_02-C.TEX -r
_work\Data\Textures\_compiled\DEM_BODY_STATUE_01-C.TEX -r
_work\Data\Textures\_compiled\DT_TABLE_01-C.TEX -r
_work\Data\Textures\_compiled\FORGEGROUND-C.TEX -r
_work\Data\Textures\_compiled\GLAZEDPOTTERY01-C.TEX -r
_work\Data\Textures\_compiled\HANDCART01-C.TEX -r
_work\Data\Textures\_compiled\HELLLIGHT-C.TEX -r
_work\Data\Textures\_compiled\ITAMMUNITIONFEATHERFIRE-C.TEX -r
_work\Data\Textures\_compiled\ITAMMUNITIONFEATHERMAGIC-C.TEX -r
_work\Data\Textures\_compiled\ITARRUNE_ZP-C.TEX -r
_work\Data\Textures\_compiled\ITAR_SCROLLS4-C.TEX -r
_work\Data\Textures\_compiled\ITAR_SCROLL_ZP-C.TEX -r
_work\Data\Textures\_compiled\ITPLANTS-C.TEX -r
_work\Data\Textures\_compiled\ITWRITTEN2-C.TEX -r
_work\Data\Textures\_compiled\ITWR_MAPS-C.TEX -r
_work\Data\Textures\_compiled\KATARIAHCLUTTER_01-C.TEX -r
_work\Data\Textures\_compiled\KETTLE01-C.TEX -r
_work\Data\Textures\_compiled\LOADING_FREEMINE-C.TEX -r
_work\Data\Textures\_compiled\LOADING_ORCGRAVEYARD-C.TEX -r
_work\Data\Textures\_compiled\MAP_OLDCAMP_ORCSZEICHEN-C.TEX -r
_work\Data\Textures\_compiled\MAP_OLDWORLD-C.TEX -r
_work\Data\Textures\_compiled\MAP_OLDWORLD_OREMINES-C.TEX -r
_work\Data\Textures\_compiled\MARKMETALS01-C.TEX -r
_work\Data\Textures\_compiled\MFX_EXPLOSIONBALL-C.TEX -r
_work\Data\Textures\_compiled\MFX_QUAKE-C.TEX -r
_work\Data\Textures\_compiled\MODIPICTURE02_1-C.TEX -r
_work\Data\Textures\_compiled\MODIPICTURE02_2-C.TEX -r
_work\Data\Textures\_compiled\MODIPICTURE03-C.TEX -r
_work\Data\Textures\_compiled\MODIPICTURE04-C.TEX -r
_work\Data\Textures\_compiled\NCODWAPUTZORNAMENTDA-C.TEX -r
_work\Data\Textures\_compiled\NEW_FC_1-C.TEX -r
_work\Data\Textures\_compiled\NW_ASPENBRANCH_01-C.TEX -r
_work\Data\Textures\_compiled\NW_CITY_BAR_01-C.TEX -r
_work\Data\Textures\_compiled\NW_CITY_BEERBARREL_01-C.TEX -r
_work\Data\Textures\_compiled\NW_CITY_CLOTH_01-C.TEX -r
_work\Data\Textures\_compiled\NW_CITY_CLOTH_02-C.TEX -r
_work\Data\Textures\_compiled\NW_CITY_CLOTH_03-C.TEX -r
_work\Data\Textures\_compiled\NW_CITY_CLOTH_04-C.TEX -r
_work\Data\Textures\_compiled\NW_CITY_CRATE_01-C.TEX -r
_work\Data\Textures\_compiled\NW_CITY_CTABLE_0-C.TEX -r
_work\Data\Textures\_compiled\NW_CITY_DININGSET_01-C.TEX -r
_work\Data\Textures\_compiled\NW_CITY_ROPE_02-C.TEX -r
_work\Data\Textures\_compiled\NW_CITY_SHELF_01-C.TEX -r
_work\Data\Textures\_compiled\NW_DOCKBEAM_01-C.TEX -r
_work\Data\Textures\_compiled\NW_DOCKBEAM_02-C.TEX -r
_work\Data\Textures\_compiled\NW_DOCKPLANKS_01-C.TEX -r
_work\Data\Textures\_compiled\NW_FCAVEDEC_01-C.TEX -r
_work\Data\Textures\_compiled\NW_GC_01-C.TEX -r
_work\Data\Textures\_compiled\NW_GC_02-C.TEX -r
_work\Data\Textures\_compiled\NW_GROUNDCLOVER01-C.TEX -r
_work\Data\Textures\_compiled\NW_GROUNDCLOVER02-C.TEX -r
_work\Data\Textures\_compiled\NW_GROUNDCOVER_01-1-C.TEX -r
_work\Data\Textures\_compiled\NW_GROUNDCOVER_01-C.TEX -r
_work\Data\Textures\_compiled\NW_HARBOUR_BARREL_02-C.TEX -r
_work\Data\Textures\_compiled\NW_HARBOUR_BARREL_03-C.TEX -r
_work\Data\Textures\_compiled\NW_HARBOUR_BARREL_04-C.TEX -r
_work\Data\Textures\_compiled\NW_MATTEO_MARKETROOF-C.TEX -r
_work\Data\Textures\_compiled\NW_MISC_BUCKET01-C.TEX -r
_work\Data\Textures\_compiled\NW_MISC_SACK_01-C.TEX -r
_work\Data\Textures\_compiled\NW_MISC_WOODBP_01-C.TEX -r
_work\Data\Textures\_compiled\NW_MISC_WOODBP_02-C.TEX -r
_work\Data\Textures\_compiled\NW_NATF6-C.TEX -r
_work\Data\Textures\_compiled\NW_NATG1-C.TEX -r
_work\Data\Textures\_compiled\NW_NATG3-C.TEX -r
_work\Data\Textures\_compiled\NW_NATG3_OLD-C.TEX -r
_work\Data\Textures\_compiled\NW_NATG7-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_ACKER_05-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_BARK_04_1-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_BARK_04_1_DMG-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_BRANCH_01_MAPLE-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_BRANCH_01_OLD-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_BRANCH_08-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_BRANCH_08_1-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_BRANCH_08_1_OLD-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_BRANCH_08_2-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_BRANCH_08_2_OLD-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_BRANCH_08_OAK-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_BRANCH_08_OAK_1-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_BRANCH_08_OAK_1_OLD-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_BRANCH_08_OAK_OLD-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_BRANCH_08_OLD-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_BRANCH_09-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_BRANCH_09_OLD-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_FL_01-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_FL_01_MAPLE-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_GRASS_DECAL_01_OLD-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_GRASS_DECAL_08-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_GRASS_DECAL_08_1-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_GRASS_DECAL_08_2-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_LEAVE_01_OLD-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_LEAVE_03_OLD-C.TEX -r
_work\Data\Textures\_compiled\NW_OLD_GRASS-C.TEX -r
_work\Data\Textures\_compiled\NW_RL_DRAPERY_01-C.TEX -r
_work\Data\Textures\_compiled\NW_ROCKSGRASS_01-C.TEX -r
_work\Data\Textures\_compiled\NW_SEQ_NATURE_PINE_04-C.TEX -r
_work\Data\Textures\_compiled\NW_SHRUB01HALF-C.TEX -r
_work\Data\Textures\_compiled\NW_SHRUB01HALF_01-C.TEX -r
_work\Data\Textures\_compiled\NW_SKASPENBRANCH_01-C.TEX -r
_work\Data\Textures\_compiled\NW_SKPINEBARK_01-C.TEX -r
_work\Data\Textures\_compiled\NW_SKPINEBARK_02-C.TEX -r
_work\Data\Textures\_compiled\NW_SKPINEBRANCH_01-C.TEX -r
_work\Data\Textures\_compiled\NW_SKPINEBRANCH_02-C.TEX -r
_work\Data\Textures\_compiled\NW_TWBARK_SW-C.TEX -r
_work\Data\Textures\_compiled\NW_TWBRANCH_01-C.TEX -r
_work\Data\Textures\_compiled\NW_TWBRANCH_02-C.TEX -r
_work\Data\Textures\_compiled\NW_TWBRANCH_03-C.TEX -r
_work\Data\Textures\_compiled\NW_TWDBUSH_01-C.TEX -r
_work\Data\Textures\_compiled\NW_TWDBUSH_02-C.TEX -r
_work\Data\Textures\_compiled\NW_TWDTDEC-C.TEX -r
_work\Data\Textures\_compiled\NW_TWLWM_01-C.TEX -r
_work\Data\Textures\_compiled\NW_TWWOOD_03-C.TEX -r
_work\Data\Textures\_compiled\NW_TWWOOD_04-C.TEX -r
_work\Data\Textures\_compiled\NW_WRSLATE_02-C.TEX -r
_work\Data\Textures\_compiled\OBJ_CITY_FISH_01-C.TEX -r
_work\Data\Textures\_compiled\OBJ_CITY_PICTURE_02_01-C.TEX -r
_work\Data\Textures\_compiled\OBJ_CITY_PICTURE_02_02-C.TEX -r
_work\Data\Textures\_compiled\OBJ_CITY_PICTURE_02_03-C.TEX -r
_work\Data\Textures\_compiled\OBJ_CITY_PICTURE_02_04-C.TEX -r
_work\Data\Textures\_compiled\OC_CARPET_01-C.TEX -r
_work\Data\Textures\_compiled\OC_CARPET_02-C.TEX -r
_work\Data\Textures\_compiled\OC_DECV2-C.TEX -r
_work\Data\Textures\_compiled\OC_DECV3-C.TEX -r
_work\Data\Textures\_compiled\OC_OLDDRAPERY_01-C.TEX -r
_work\Data\Textures\_compiled\OW_LOB_TREE_BRANCH-C.TEX -r
_work\Data\Textures\_compiled\OW_LOB_TREE_BRANCHES-C.TEX -r
_work\Data\Textures\_compiled\OW_LOB_TREE_WBARK01-C.TEX -r
_work\Data\Textures\_compiled\OW_LOB_TREE_WBUSH01-C.TEX -r
_work\Data\Textures\_compiled\OW_NATURE_WGRASS_01-C.TEX -r
_work\Data\Textures\_compiled\PCODWALSWAMP01-C.TEX -r
_work\Data\Textures\_compiled\PCODWALSWAMP01END-C.TEX -r
_work\Data\Textures\_compiled\PCODWALSWAMP01TCROSS-C.TEX -r
_work\Data\Textures\_compiled\PCODWATRTREES-C.TEX -r
_work\Data\Textures\_compiled\PCODWATRTREES-C.TEX -r
_work\Data\Textures\_compiled\RETICLEBLAZE-C.TEX -r
_work\Data\Textures\_compiled\RETICLEBLAZE_00-C.TEX -r
_work\Data\Textures\_compiled\RETICLEBLAZE_01-C.TEX -r
_work\Data\Textures\_compiled\RETICLEBLAZE_02-C.TEX -r
_work\Data\Textures\_compiled\RETICLEBLAZE_03-C.TEX -r
_work\Data\Textures\_compiled\RETICLEBLAZE_04-C.TEX -r
_work\Data\Textures\_compiled\RETICLEBLAZE_05-C.TEX -r
_work\Data\Textures\_compiled\RETICLEBLAZE_06-C.TEX -r
_work\Data\Textures\_compiled\RETICLEBLAZE_07-C.TEX -r
_work\Data\Textures\_compiled\RETICLEBLAZE_08-C.TEX -r
_work\Data\Textures\_compiled\RETICLEBLAZE_09-C.TEX -r
_work\Data\Textures\_compiled\RETICLEBOLTS-C.TEX -r
_work\Data\Textures\_compiled\RETICLEBOWL-C.TEX -r
_work\Data\Textures\_compiled\RETICLEBRUSH-C.TEX -r
_work\Data\Textures\_compiled\RETICLECIRCLE-C.TEX -r
_work\Data\Textures\_compiled\RETICLECIRCLECROSS-C.TEX -r
_work\Data\Textures\_compiled\RETICLECROSSFOUR-C.TEX -r
_work\Data\Textures\_compiled\RETICLECROSSTHREE-C.TEX -r
_work\Data\Textures\_compiled\RETICLECROSSTWO-C.TEX -r
_work\Data\Textures\_compiled\RETICLEDOT-C.TEX -r
_work\Data\Textures\_compiled\RETICLEDOUBLECIRCLE-C.TEX -r
_work\Data\Textures\_compiled\RETICLEDOUBLECIRCLE_00-C.TEX -r
_work\Data\Textures\_compiled\RETICLEDOUBLECIRCLE_01-C.TEX -r
_work\Data\Textures\_compiled\RETICLEDOUBLECIRCLE_02-C.TEX -r
_work\Data\Textures\_compiled\RETICLEDOUBLECIRCLE_03-C.TEX -r
_work\Data\Textures\_compiled\RETICLEDOUBLECIRCLE_04-C.TEX -r
_work\Data\Textures\_compiled\RETICLEDOUBLECIRCLE_05-C.TEX -r
_work\Data\Textures\_compiled\RETICLEDOUBLECIRCLE_06-C.TEX -r
_work\Data\Textures\_compiled\RETICLEDOUBLECIRCLE_07-C.TEX -r
_work\Data\Textures\_compiled\RETICLEDOUBLECIRCLE_08-C.TEX -r
_work\Data\Textures\_compiled\RETICLEDOUBLECIRCLE_09-C.TEX -r
_work\Data\Textures\_compiled\RETICLEDROP-C.TEX -r
_work\Data\Textures\_compiled\RETICLEDROP_00-C.TEX -r
_work\Data\Textures\_compiled\RETICLEDROP_01-C.TEX -r
_work\Data\Textures\_compiled\RETICLEDROP_02-C.TEX -r
_work\Data\Textures\_compiled\RETICLEDROP_03-C.TEX -r
_work\Data\Textures\_compiled\RETICLEDROP_04-C.TEX -r
_work\Data\Textures\_compiled\RETICLEDROP_05-C.TEX -r
_work\Data\Textures\_compiled\RETICLEDROP_06-C.TEX -r
_work\Data\Textures\_compiled\RETICLEDROP_07-C.TEX -r
_work\Data\Textures\_compiled\RETICLEEDGES-C.TEX -r
_work\Data\Textures\_compiled\RETICLEFRAME-C.TEX -r
_work\Data\Textures\_compiled\RETICLEHORNS-C.TEX -r
_work\Data\Textures\_compiled\RETICLENOTCH-C.TEX -r
_work\Data\Textures\_compiled\RETICLENOTCH_00-C.TEX -r
_work\Data\Textures\_compiled\RETICLENOTCH_01-C.TEX -r
_work\Data\Textures\_compiled\RETICLENOTCH_02-C.TEX -r
_work\Data\Textures\_compiled\RETICLENOTCH_03-C.TEX -r
_work\Data\Textures\_compiled\RETICLENOTCH_04-C.TEX -r
_work\Data\Textures\_compiled\RETICLENOTCH_05-C.TEX -r
_work\Data\Textures\_compiled\RETICLENOTCH_06-C.TEX -r
_work\Data\Textures\_compiled\RETICLENOTCH_07-C.TEX -r
_work\Data\Textures\_compiled\RETICLENOTCH_08-C.TEX -r
_work\Data\Textures\_compiled\RETICLENOTCH_09-C.TEX -r
_work\Data\Textures\_compiled\RETICLENOTCH_10-C.TEX -r
_work\Data\Textures\_compiled\RETICLENOTCH_11-C.TEX -r
_work\Data\Textures\_compiled\RETICLENOTCH_12-C.TEX -r
_work\Data\Textures\_compiled\RETICLENOTCH_13-C.TEX -r
_work\Data\Textures\_compiled\RETICLENOTCH_14-C.TEX -r
_work\Data\Textures\_compiled\RETICLENOTCH_15-C.TEX -r
_work\Data\Textures\_compiled\RETICLENOTCH_16-C.TEX -r
_work\Data\Textures\_compiled\RETICLEPEAK-C.TEX -r
_work\Data\Textures\_compiled\RETICLEPEAK_00-C.TEX -r
_work\Data\Textures\_compiled\RETICLEPEAK_01-C.TEX -r
_work\Data\Textures\_compiled\RETICLEPEAK_02-C.TEX -r
_work\Data\Textures\_compiled\RETICLEPEAK_03-C.TEX -r
_work\Data\Textures\_compiled\RETICLEPEAK_04-C.TEX -r
_work\Data\Textures\_compiled\RETICLEPEAK_05-C.TEX -r
_work\Data\Textures\_compiled\RETICLEPEAK_06-C.TEX -r
_work\Data\Textures\_compiled\RETICLEPEAK_07-C.TEX -r
_work\Data\Textures\_compiled\RETICLEPEAK_08-C.TEX -r
_work\Data\Textures\_compiled\RETICLEPEAK_09-C.TEX -r
_work\Data\Textures\_compiled\RETICLEPEAK_10-C.TEX -r
_work\Data\Textures\_compiled\RETICLEPEAK_11-C.TEX -r
_work\Data\Textures\_compiled\RETICLEPEAK_12-C.TEX -r
_work\Data\Textures\_compiled\RETICLEPEAK_13-C.TEX -r
_work\Data\Textures\_compiled\RETICLEPEAK_14-C.TEX -r
_work\Data\Textures\_compiled\RETICLEPEAK_15-C.TEX -r
_work\Data\Textures\_compiled\RETICLEPEAK_16-C.TEX -r
_work\Data\Textures\_compiled\RETICLESPADES-C.TEX -r
_work\Data\Textures\_compiled\RETICLESQUIGGLE-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIIN-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIINDOT-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIINDOT_00-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIINDOT_01-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIINDOT_02-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIINDOT_03-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIINDOT_04-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIINDOT_05-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIINDOT_06-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIINDOT_07-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIINDOT_08-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIINDOT_09-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIINDOT_10-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIINDOT_11-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIINDOT_12-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIINDOT_13-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIINDOT_14-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIINDOT_15-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIINDOT_16-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIIN_00-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIIN_01-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIIN_02-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIIN_03-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIIN_04-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIIN_05-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIIN_06-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIIN_07-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIIN_08-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIIN_09-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIIN_10-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIIN_11-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIIN_12-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIIN_13-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIIN_14-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIIN_15-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIIN_16-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIOUTDOT-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIOUTDOT_00-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIOUTDOT_01-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIOUTDOT_02-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIOUTDOT_03-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIOUTDOT_04-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIOUTDOT_05-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIOUTDOT_06-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIOUTDOT_07-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIOUTDOT_08-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIOUTDOT_09-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIOUTDOT_10-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIOUTDOT_11-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIOUTDOT_12-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIOUTDOT_13-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIOUTDOT_14-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIOUTDOT_15-C.TEX -r
_work\Data\Textures\_compiled\RETICLETRIOUTDOT_16-C.TEX -r
_work\Data\Textures\_compiled\RETICLEWHIRL-C.TEX -r
_work\Data\Textures\_compiled\RETICLEWHIRL_00-C.TEX -r
_work\Data\Textures\_compiled\RETICLEWHIRL_01-C.TEX -r
_work\Data\Textures\_compiled\RETICLEWHIRL_02-C.TEX -r
_work\Data\Textures\_compiled\RETICLEWHIRL_03-C.TEX -r
_work\Data\Textures\_compiled\RETICLEWHIRL_04-C.TEX -r
_work\Data\Textures\_compiled\RETICLEWHIRL_05-C.TEX -r
_work\Data\Textures\_compiled\RETICLEWHIRL_06-C.TEX -r
_work\Data\Textures\_compiled\RETICLEWHIRL_07-C.TEX -r
_work\Data\Textures\_compiled\RETICLEWHIRL_08-C.TEX -r
_work\Data\Textures\_compiled\RETICLEWHIRL_09-C.TEX -r
_work\Data\Textures\_compiled\RETICLEX-C.TEX -r
_work\Data\Textures\_compiled\ROSE_01-C.TEX -r
_work\Data\Textures\_compiled\SKE_3_ARMOR-C.TEX -r
_work\Data\Textures\_compiled\SKE_3_ARMOR-C.TEX -r
_work\Data\Textures\_compiled\SKE_FLY_BODY-C.TEX -r
_work\Data\Textures\_compiled\SKE_FLY_HEAD-C.TEX -r
_work\Data\Textures\_compiled\SKYDAY_LAYER0_A0-C.TEX -r
_work\Data\Textures\_compiled\SKYDAY_NEWWORLD_LAYER0_A0-C.TEX -r
_work\Data\Textures\_compiled\SKYDAY_OLDWORLD_LAYER0_A0-C.TEX -r
_work\Data\Textures\_compiled\SKYNIGHT_LAYER0_A0-C.TEX -r
_work\Data\Textures\_compiled\SKYNIGHT_LAYER1_A0-C.TEX -r
_work\Data\Textures\_compiled\SKYNIGHT_NEWWORLD_LAYER0_A0-C.TEX -r
_work\Data\Textures\_compiled\SKYNIGHT_NEWWORLD_LAYER1_A0-C.TEX -r
_work\Data\Textures\_compiled\SKYRAINCLOUDS-C.TEX -r
_work\Data\Textures\_compiled\SKYRAINSPLASH-C.TEX -r
_work\Data\Textures\_compiled\SK_IVY_01-C.TEX -r
_work\Data\Textures\_compiled\SK_REACHGRASSOBJ_01-C.TEX -r
_work\Data\Textures\_compiled\SK_SWORDFERN_01-C.TEX -r
_work\Data\Textures\_compiled\SK_VINEMAPLE_01-C.TEX -r
_work\Data\Textures\_compiled\SNOW-C.TEX -r
_work\Data\Textures\_compiled\STATUS_BACK-C.TEX -r
_work\Data\Textures\_compiled\TABLE01-C.TEX -r
_work\Data\Textures\_compiled\TORCH_01-C.TEX -r
_work\Data\Textures\_compiled\TORCH_02-C.TEX -r
_work\Data\Textures\_compiled\TROPICALSTEM_01-C.TEX -r
_work\Data\Textures\_compiled\TUNDRABARK01-C.TEX -r
_work\Data\Textures\_compiled\VURTBARK03-C.TEX -r
_work\Data\Textures\_compiled\VURT_BIGTREEBRANCH-C.TEX -r
_work\Data\Textures\_compiled\VURT_BIGTREELEAVES-C.TEX -r
_work\Data\Textures\_compiled\VURT_BUSHLEAVES4-C.TEX -r
_work\Data\Textures\_compiled\VURT_CONIFERBARK-C.TEX -r
_work\Data\Textures\_compiled\VURT_CSTONES-C.TEX -r
_work\Data\Textures\_compiled\VURT_DEADGREYBRANCH-C.TEX -r
_work\Data\Textures\_compiled\VURT_DEADTREE5-C.TEX -r
_work\Data\Textures\_compiled\VURT_FERN-C.TEX -r
_work\Data\Textures\_compiled\VURT_GRASSYBUSH-C.TEX -r
_work\Data\Textures\_compiled\VURT_GREYBARK8-C.TEX -r
_work\Data\Textures\_compiled\VURT_GREYBROWNBRANCH-C.TEX -r
_work\Data\Textures\_compiled\VURT_HANGLEAVES-C.TEX -r
_work\Data\Textures\_compiled\VURT_MOSS-C.TEX -r
_work\Data\Textures\_compiled\VURT_NATURALPINE5-C.TEX -r
_work\Data\Textures\_compiled\VURT_NATURALPINE6-C.TEX -r
_work\Data\Textures\_compiled\VURT_OLDBRANCH-C.TEX -r
_work\Data\Textures\_compiled\VURT_OLDWORLDLEAF-C.TEX -r
_work\Data\Textures\_compiled\VURT_OLDWORLDLEAVES-C.TEX -r
_work\Data\Textures\_compiled\VURT_OLDWORLDLEAVES3-C.TEX -r
_work\Data\Textures\_compiled\VURT_OLD_PLANTS-C.TEX -r
_work\Data\Textures\_compiled\VURT_PINEBRANCH-C.TEX -r
_work\Data\Textures\_compiled\VURT_PURPFLOWER-C.TEX -r
_work\Data\Textures\_compiled\VURT_REEDS-C.TEX -r
_work\Data\Textures\_compiled\VURT_REEDS2-C.TEX -r
_work\Data\Textures\_compiled\VURT_ROOTS2-C.TEX -r
_work\Data\Textures\_compiled\VURT_SHADED_PINE-C.TEX -r
_work\Data\Textures\_compiled\VURT_STEM1-C.TEX -r
_work\Data\Textures\_compiled\VURT_TREEFUNGI1-C.TEX -r
_work\Data\Textures\_compiled\VURT_VINE-C.TEX -r
_work\Data\Textures\_compiled\VURT_WOODCUT-C.TEX -r
_work\Data\Textures\_compiled\WASTELAND_ADDON1-C.TEX -r
_work\Data\Textures\_compiled\WASTELAND_ADDON_PSI1-C.TEX -r
_work\Data\Textures\_compiled\WASTELAND_ADDON_PSI2-C.TEX -r
_work\Data\Textures\_compiled\WINEBOTTLES01-C.TEX -r
_work\Data\Scripts\CONTENT\CUTSCENE\OU.* -r
_work\Data\Scripts\_compiled\*.DAT -r
_work\Data\Scripts\_compiled\*.INF -r
_work\Data\Sound\SFX\GAMESTART.WAV -r
_work\Data\Sound\SFX\MFX_EXTRICATE_INHALE.WAV -r
_work\Data\Sound\SFX\MFX_QUAKE_INVEST.WAV -r
_work\Data\Sound\SFX\PSILAB_LOOP.WAV -r
_work\Data\Sound\Speech\DIA_ADDON_PEDRO_STATUETTE_09_02_B.wav -r
_work\Data\Sound\Speech\DIA_GAROND_GORN_10_02_EXT.wav -r
_work\Data\Worlds\Addon\AddonWorld.zen -r
_work\Data\Worlds\NewWorld\DRAGONISLAND.ZEN -r
_work\Data\Worlds\NewWorld\NEWWORLD.ZEN -r
_work\Data\Worlds\Oldworld\FREEMINE.ZEN -r
_work\Data\Worlds\Oldworld\ORCGRAVEYARD.ZEN -r
_work\Data\Worlds\Oldworld\OldWorld.zen -r
[EXCLUDE]
[INCLUDE]
[ENDVDF]
