[BEGINVDF]
Comment=Gothic II: Ultimate Stranger v0.1
BaseDir=P:\Steam\steamapps\common\Gothic II
VDFName=P:\Steam\steamapps\common\Gothic II\Data\modvdf\UltimateStranger.mod
[FILES]
_work\data\Scripts\CONTENT\CUTSCENE\OU.* -r
_work\data\Scripts\_compiled\*.INF -r
_work\data\Scripts\_compiled\*.DAT -r
_work\data\Worlds\Oldworld\FREEMINE.ZEN -r
_work\data\Worlds\Oldworld\ORCGRAVEYARD.ZEN -r
_work\data\Worlds\Oldworld\OldWorld.zen -r
_work\data\Sound\SFX\GAMESTART.WAV -r
_work\data\Sound\SFX\MFX_EXTRICATE_INHALE.WAV -r
_work\data\Sound\SFX\MFX_QUAKE_INVEST.WAV -r
_work\data\Sound\SFX\PSILAB_LOOP.WAV -r
_work\Data\Anims\_compiled\SPORTAL_SLEEPER-T_S0_2_S1.MAN -r
_work\Data\Anims\_compiled\STOMPER_OM.MDH -r
_work\Data\Anims\_compiled\STOMPER_OM.MDL -r
_work\Data\Anims\_compiled\STOMPER_OM.MDM -r
_work\Data\Anims\_compiled\STOMPER_OM.MSB -r
_work\Data\Anims\_compiled\STOMPER_OM-S_S0.MAN -r
_work\Data\Anims\_compiled\STOMPER_OM-S_S1.MAN -r
_work\Data\Anims\_compiled\STOMPER_OM-T_S0_2_S1.MAN -r
_work\Data\Anims\_compiled\STOMPER_OM-T_S1_2_S0.MAN -r
_work\Data\Anims\_compiled\STONEMILL_OM.MDH -r
_work\Data\Anims\_compiled\STONEMILL_OM.MDM -r
_work\Data\Anims\_compiled\STONEMILL_OM.MSB -r
_work\Data\Anims\_compiled\STONEMILL_OM-S_S0.MAN -r
_work\Data\Anims\_compiled\STONEMILL_OM-S_S1.MAN -r
_work\Data\Anims\_compiled\STONEMILL_OM-T_S0_2_S1.MAN -r
_work\Data\Anims\_compiled\STONEMILL_OM-T_S1_2_S0.MAN -r
_work\Data\Anims\_compiled\BACKPACK_1.MDL -r
_work\Data\Anims\_compiled\BARREL_1_OC.MDL -r
_work\Data\Anims\_compiled\BARRELMOUNTED_OC.MDL -r
_work\Data\Anims\_compiled\BARRELO_OC.MDL -r
_work\Data\Anims\_compiled\BASKET_RICE.MDL -r
_work\Data\Anims\_compiled\BATHTUB_WOODEN.MDL -r
_work\Data\Anims\_compiled\BEDLOW_NC.MDL -r
_work\Data\Anims\_compiled\BEDLOW_OC.MDL -r
_work\Data\Anims\_compiled\BEDLOW_PC.MDL -r
_work\Data\Anims\_compiled\BEDLOW_PSI.MDL -r
_work\Data\Anims\_compiled\BELLOW_MINE.MDL -r
_work\Data\Anims\_compiled\CHAIR_THRONE.MDL -r
_work\Data\Anims\_compiled\CHESTBIG_ORCMUMMY.MDL -r
_work\Data\Anims\_compiled\EXCALIBUR_1.MDL -r
_work\Data\Anims\_compiled\HUM_BODY_NAKED0.MDM -r
_work\Data\Anims\_compiled\HUMANS.MDH -r
_work\Data\Anims\_compiled\HUMANS.MSB -r
_work\Data\Anims\_compiled\HUMANS-C_FP_S0_1.MAN -r
_work\Data\Anims\_compiled\HUMANS-C_FP_S0_2.MAN -r
_work\Data\Anims\_compiled\HUMANS-C_FP_S0_2_S1_1.MAN -r
_work\Data\Anims\_compiled\HUMANS-C_FP_S0_2_S1_2.MAN -r
_work\Data\Anims\_compiled\HUMANS-C_FP_S0_2_S1_3.MAN -r
_work\Data\Anims\_compiled\HUMANS-C_FP_S0_2_STAND_1.MAN -r
_work\Data\Anims\_compiled\HUMANS-C_FP_S0_2_STAND_2.MAN -r
_work\Data\Anims\_compiled\HUMANS-C_FP_S0_2_STAND_3.MAN -r
_work\Data\Anims\_compiled\HUMANS-C_FP_S0_3.MAN -r
_work\Data\Anims\_compiled\HUMANS-C_FP_S1_1.MAN -r
_work\Data\Anims\_compiled\HUMANS-C_FP_S1_2.MAN -r
_work\Data\Anims\_compiled\HUMANS-C_FP_S1_2_STAND_1.MAN -r
_work\Data\Anims\_compiled\HUMANS-C_FP_S1_2_STAND_2.MAN -r
_work\Data\Anims\_compiled\HUMANS-C_FP_S1_2_STAND_3.MAN -r
_work\Data\Anims\_compiled\HUMANS-C_FP_S1_3.MAN -r
_work\Data\Anims\_compiled\HUMANS-C_FP_STAND_2_S0_1.MAN -r
_work\Data\Anims\_compiled\HUMANS-C_FP_STAND_2_S0_2.MAN -r
_work\Data\Anims\_compiled\HUMANS-C_FP_STAND_2_S0_3.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_BARRELO_S0.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_BARRELO_S1.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_BEDLOW_BACK_S0.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_BEDLOW_BACK_S1.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_BEDLOW_FRONT_S0.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_BEDLOW_FRONT_S1.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_EXCALIBUR_S0.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_EXCALIBUR_S1.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_EXPCAST.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_EXPSHOOT.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_FOTCAST.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_FOTSHOOT.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_PILLAR_S0.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_PILLAR_S1.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_PRIESTGRAVE_S0.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_PRIESTGRAVE_S1.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_SPORTAL_S0.MAN -r
_work\Data\Anims\_compiled\HUMANS-S_SPORTAL_S1.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_BARRELO_S0_2_S1.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_BARRELO_STAND_2_S0.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_BEDLOW_BACK_S0_2_S1.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_BEDLOW_BACK_S1_2_S0.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_BEDLOW_BACK_STAND_2_S0.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_BEDLOW_FRONT_S0_2_S1.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_BEDLOW_FRONT_S1_2_S0.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_BEDLOW_FRONT_STAND_2_S0.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_EXCALIBUR_S0_2_S1.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_EXCALIBUR_S1_2_STAND.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_EXCALIBUR_STAND_2_S0.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_EXPCAST_2_EXPSHOOT.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_EXPSHOOT_2_STAND.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_FOTCAST_2_FOTSHOOT.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_FOTSHOOT_2_STAND.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_MAGRUN_2_EXPCAST.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_MAGRUN_2_FOTCAST.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_PILLAR_S0_2_S1.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_PILLAR_S1_2_S0.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_PILLAR_S1_2_STAND.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_PILLAR_STAND_2_S0.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_PRIESTGRAVE_S0_2_S1.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_PRIESTGRAVE_S0_2_STAND.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_PRIESTGRAVE_S1_2_STAND.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_PRIESTGRAVE_STAND_2_S0.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_SPORTAL_S0_2_S1.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_SPORTAL_S0_2_STAND.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_SPORTAL_S1_2_STAND.MAN -r
_work\Data\Anims\_compiled\HUMANS-T_SPORTAL_STAND_2_S0.MAN -r
_work\Data\Anims\_compiled\LOVEBED_OC.MDL -r
_work\Data\Anims\_compiled\MOB_GONG.MDL -r
_work\Data\Anims\_compiled\MOB_PAUKE.MDL -r
_work\Data\Anims\_compiled\ORC_BODYCOMMANDER.MDM -r
_work\Data\Anims\_compiled\ORC_BODYSCOUT.MDM -r
_work\Data\Anims\_compiled\PILLAR_7M.MDH -r
_work\Data\Anims\_compiled\PILLAR_7M.MDM -r
_work\Data\Anims\_compiled\PILLAR_7M.MSB -r
_work\Data\Anims\_compiled\PILLAR_7M-S_S0.MAN -r
_work\Data\Anims\_compiled\PILLAR_7M-T_S0_2_S1.MAN -r
_work\Data\Anims\_compiled\PILLAR_ORC.MDH -r
_work\Data\Anims\_compiled\PILLAR_ORC.MDM -r
_work\Data\Anims\_compiled\PILLAR_ORC.MSB -r
_work\Data\Anims\_compiled\PILLAR_ORC-S_S0.MAN -r
_work\Data\Anims\_compiled\PILLAR_ORC-S_S1.MAN -r
_work\Data\Anims\_compiled\PILLAR_ORC-T_S0_2_S1.MAN -r
_work\Data\Anims\_compiled\PILLAR_ORC-T_S1_2_S0.MAN -r
_work\Data\Anims\_compiled\PRIESTGRAVE_OT.MDH -r
_work\Data\Anims\_compiled\PRIESTGRAVE_OT.MDM -r
_work\Data\Anims\_compiled\PRIESTGRAVE_OT.MSB -r
_work\Data\Anims\_compiled\PUSH_STONE.MDH -r
_work\Data\Anims\_compiled\PUSH_STONE.MDM -r
_work\Data\Anims\_compiled\PUSH_STONE.MSB -r
_work\Data\Anims\_compiled\PUSH_STONE-S_S0.MAN -r
_work\Data\Anims\_compiled\PUSH_STONE-S_S1.MAN -r
_work\Data\Anims\_compiled\PUSH_STONE-T_S0_2_S1.MAN -r
_work\Data\Anims\_compiled\SCAV_MEAT.MDL -r
_work\Data\Anims\_compiled\SECRETDOOR_STONE.MDH -r
_work\Data\Anims\_compiled\SECRETDOOR_STONE.MDM -r
_work\Data\Anims\_compiled\SECRETDOOR_STONE.MSB -r
_work\Data\Anims\_compiled\SECRETDOOR_STONE-S_S0.MAN -r
_work\Data\Anims\_compiled\SECRETDOOR_STONE-S_S1.MAN -r
_work\Data\Anims\_compiled\SECRETDOOR_STONE-T_S0_2_S1.MAN -r
_work\Data\Anims\_compiled\SKE_BODY3.MDM -r
_work\Data\Anims\_compiled\SKE_FLY_BODY.MDM -r
_work\Data\Anims\_compiled\SPORTAL_SLEEPER.MDH -r
_work\Data\Anims\_compiled\SPORTAL_SLEEPER.MDM -r
_work\Data\Anims\_compiled\SPORTAL_SLEEPER.MSB -r
_work\Data\Anims\_compiled\SPORTAL_SLEEPER-S_S0.MAN -r
_work\Data\Anims\_compiled\SPORTAL_SLEEPER-S_S1.MAN -r
_work\Data\Meshes\_compiled\ASM_SMALLTREE_OLD.MRM -r
_work\Data\Meshes\_compiled\BEET.MRM -r
_work\Data\Meshes\_compiled\BSFIRE_OC_TOP.MRM -r
_work\Data\Meshes\_compiled\CAVE_MUSHROOM_01.MRM -r
_work\Data\Meshes\_compiled\CUPRESSUS_01.MRM -r
_work\Data\Meshes\_compiled\GRASS_G3_01.MRM -r
_work\Data\Meshes\_compiled\ITAM_ADDON_FRANCO.MRM -r
_work\Data\Meshes\_compiled\ITAM_ADDON_HEALTH.MRM -r
_work\Data\Meshes\_compiled\ITAM_ADDON_MANA.MRM -r
_work\Data\Meshes\_compiled\ITAM_ADDON_STR.MRM -r
_work\Data\Meshes\_compiled\ITAM_ADDON_WISPDETECTOR.MRM -r
_work\Data\Meshes\_compiled\ITAM_AMULETTOFDEATH_MIS.MRM -r
_work\Data\Meshes\_compiled\ITAT_BLATTCRAWLER_01.MRM -r
_work\Data\Meshes\_compiled\ITAT_BUGMANDIBLES.MRM -r
_work\Data\Meshes\_compiled\ITAT_CLAWLEADER.MRM -r
_work\Data\Meshes\_compiled\ITAT_CRAWLERMANDIBLES.MRM -r
_work\Data\Meshes\_compiled\ITAT_CRAWLERPLATE.MRM -r
_work\Data\Meshes\_compiled\ITAT_DEMONHEART.MRM -r
_work\Data\Meshes\_compiled\ITAT_DRAGONSCALE.MRM -r
_work\Data\Meshes\_compiled\ITAT_FIREDRAGONHEART.MRM -r
_work\Data\Meshes\_compiled\ITAT_ICEDRAGONHEART.MRM -r
_work\Data\Meshes\_compiled\ITAT_ICEWOLFFUR.MRM -r
_work\Data\Meshes\_compiled\ITAT_LURKERCLAW.MRM -r
_work\Data\Meshes\_compiled\ITAT_ROCKDRAGONHEART.MRM -r
_work\Data\Meshes\_compiled\ITAT_SHELLFLESH.MRM -r
_work\Data\Meshes\_compiled\ITAT_SWAMPGOLEMHEART.MRM -r
_work\Data\Meshes\_compiled\ITAT_TALBINSLURKERSKIN.MRM -r
_work\Data\Meshes\_compiled\ITAT_TROLLBLACKFUR.MRM -r
_work\Data\Meshes\_compiled\ITAT_UNDEADDRAGONSOULSTONE.MRM -r
_work\Data\Meshes\_compiled\ITAT_WARGFUR.MRM -r
_work\Data\Meshes\_compiled\ITMI_ADDON_GREGSTREASUREBOTTLE_MIS.MRM -r
_work\Data\Meshes\_compiled\ITMI_ADDON_JOINT_01.MRM -r
_work\Data\Meshes\_compiled\ITMI_BLOODCUP.MRM -r
_work\Data\Meshes\_compiled\ITMI_BRUSH.MRM -r
_work\Data\Meshes\_compiled\ITMI_COMPASS_01.MRM -r
_work\Data\Meshes\_compiled\ITMI_CORAGONSSILBER.MRM -r
_work\Data\Meshes\_compiled\ITMI_EROLSKELCH.MRM -r
_work\Data\Meshes\_compiled\ITMI_FLASK.MRM -r
_work\Data\Meshes\_compiled\ITMI_FOODPOCKET.MRM -r
_work\Data\Meshes\_compiled\ITMI_GOLDNECKLACE_CHAIN.MRM -r
_work\Data\Meshes\_compiled\ITMI_HERBPAKET.MRM -r
_work\Data\Meshes\_compiled\ITMI_HOLYWATER.MRM -r
_work\Data\Meshes\_compiled\ITMI_KARRASBLESSEDSTONE.MRM -r
_work\Data\Meshes\_compiled\ITMI_MARIASGOLDPLATE.MRM -r
_work\Data\Meshes\_compiled\ITMI_MOLERATLUBRIC.MRM -r
_work\Data\Meshes\_compiled\ITMI_POCKET.MRM -r
_work\Data\Meshes\_compiled\ITMI_SILVERBOWL_01.MRM -r
_work\Data\Meshes\_compiled\ITMI_SILVERNECKLACE_CHAIN.MRM -r
_work\Data\Meshes\_compiled\ITMI_ULTHARSHOLYWATER.MRM -r
_work\Data\Meshes\_compiled\ITMISWORDRAWHOT.MRM -r
_work\Data\Meshes\_compiled\ITPL_PERM_HERB.MRM -r
_work\Data\Meshes\_compiled\ITPL_SPEED_HERB_01.MRM -r
_work\Data\Meshes\_compiled\ITPL_STRENGTH_HERB_01.MRM -r
_work\Data\Meshes\_compiled\ITPL_STRENGTH_HERB_02.MRM -r
_work\Data\Meshes\_compiled\ITPL_SWAMPHERB.MRM -r
_work\Data\Meshes\_compiled\ITPL_WEED.MRM -r
_work\Data\Meshes\_compiled\ITRI_ADDON_BANDITTRADER.MRM -r
_work\Data\Meshes\_compiled\ITRI_ADDON_HEALTH.MRM -r
_work\Data\Meshes\_compiled\ITRI_ADDON_MANA.MRM -r
_work\Data\Meshes\_compiled\ITRI_ADDON_MORGANSRING.MRM -r
_work\Data\Meshes\_compiled\ITRI_ADDON_STR.MRM -r
_work\Data\Meshes\_compiled\ITRI_FERNANDO.MRM -r
_work\Data\Meshes\_compiled\ITRI_ORCELITERING.MRM -r
_work\Data\Meshes\_compiled\ITRI_RANGERRING.MRM -r
_work\Data\Meshes\_compiled\ITRI_XARDAS.MRM -r
_work\Data\Meshes\_compiled\ITRU_ACID.MRM -r
_work\Data\Meshes\_compiled\ITRU_ADANOSBALL.MRM -r
_work\Data\Meshes\_compiled\ITRU_EXPLOSION.MRM -r
_work\Data\Meshes\_compiled\ITRU_EXTRICATE.MRM -r
_work\Data\Meshes\_compiled\ITRU_HEALOTHER.MRM -r
_work\Data\Meshes\_compiled\ITRU_MAGICCAGE.MRM -r
_work\Data\Meshes\_compiled\ITRU_QUAKE.MRM -r
_work\Data\Meshes\_compiled\ITRU_RAGE.MRM -r
_work\Data\Meshes\_compiled\ITRW_FIREARROW.MRM -r
_work\Data\Meshes\_compiled\ITRW_MAGICARROW.MRM -r
_work\Data\Meshes\_compiled\ITRW_MAGICBOLT.MRM -r
_work\Data\Meshes\_compiled\ITSC_ACID.MRM -r
_work\Data\Meshes\_compiled\ITSC_ADANOSBALL.MRM -r
_work\Data\Meshes\_compiled\ITSC_CHARM.MRM -r
_work\Data\Meshes\_compiled\ITSC_EXPLOSION.MRM -r
_work\Data\Meshes\_compiled\ITSC_EXTRICATE.MRM -r
_work\Data\Meshes\_compiled\ITSC_HEALOTHER.MRM -r
_work\Data\Meshes\_compiled\ITSC_MAGICCAGE.MRM -r
_work\Data\Meshes\_compiled\ITSC_QUAKE.MRM -r
_work\Data\Meshes\_compiled\ITSC_RAGE.MRM -r
_work\Data\Meshes\_compiled\ITSC_TELEPORT_MAYA.MRM -r
_work\Data\Meshes\_compiled\ITSE_ADDON_FRANCISCHEST.MRM -r
_work\Data\Meshes\_compiled\ITWR_BABOSPINUP_MIS.MRM -r
_work\Data\Meshes\_compiled\ITWR_BOOK_02_01_1.MRM -r
_work\Data\Meshes\_compiled\ITWR_BOOK_02_01_2.MRM -r
_work\Data\Meshes\_compiled\ITWR_BOOK_02_03.MRM -r
_work\Data\Meshes\_compiled\ITWR_BOOK_02_04.MRM -r
_work\Data\Meshes\_compiled\ITWR_BOOK_02_05.MRM -r
_work\Data\Meshes\_compiled\ITWR_BOOK_03_03.MRM -r
_work\Data\Meshes\_compiled\ITWR_BOOK_03_04.MRM -r
_work\Data\Meshes\_compiled\ITWR_BOOK_03_05.MRM -r
_work\Data\Meshes\_compiled\ITWR_BOOK_RUNEMAKING_KDF.MRM -r
_work\Data\Meshes\_compiled\ITWR_BOOK_RUNEMAKING_KDW.MRM -r
_work\Data\Meshes\_compiled\ITWR_MAP_AW.MRM -r
_work\Data\Meshes\_compiled\ITWR_MAP_CITY.MRM -r
_work\Data\Meshes\_compiled\ITWR_MAP_DI.MRM -r
_work\Data\Meshes\_compiled\ITWR_MAP_NW_01.MRM -r
_work\Data\Meshes\_compiled\ITWR_MAP_NW_02.MRM -r
_work\Data\Meshes\_compiled\ITWR_MAP_OW.MRM -r
_work\Data\Meshes\_compiled\ITWR_POSTER_MIS.MRM -r
_work\Data\Meshes\_compiled\ITWR_SCROLL_01.MRM -r
_work\Data\Meshes\_compiled\JUNGLETREE_02_163P.MRM -r
_work\Data\Meshes\_compiled\MAGICCAGE.MRM -r
_work\Data\Meshes\_compiled\MAP_ORCASSAULT.MRM -r
_work\Data\Meshes\_compiled\NW_CAVE_DEC_01.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_BOOKS_01.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_CABBAGE_01.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_CABBAGE_02.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_CABBAGE_03.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_CANDELABRA_01.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_DECO_PICTURE_02_01.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_DECO_PICTURE_02_02.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_DECO_PICTURE_02_03.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_DECO_PICTURE_02_04.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_DECO_WOLFHEAD_01.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_DECSTAIR_01.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_LHBKSBEAMS_01.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_LHBKSBEAMS_02.MRM -r
_work\Data\Meshes\_compiled\NW_CITY_TABLE_HARAD_01.MRM -r
_work\Data\Meshes\_compiled\NW_COASTWOOD_01.MRM -r
_work\Data\Meshes\_compiled\NW_COASTWOOD_02.MRM -r
_work\Data\Meshes\_compiled\NW_COASTWOOD_03.MRM -r
_work\Data\Meshes\_compiled\NW_FERN_FOREST_CAVE_01.MRM -r
_work\Data\Meshes\_compiled\NW_FERN_FOREST_CAVE_02.MRM -r
_work\Data\Meshes\_compiled\NW_FERN_FOREST_CAVE_03.MRM -r
_work\Data\Meshes\_compiled\NW_KORN_01.MRM -r
_work\Data\Meshes\_compiled\NW_MISC_BUCKET_01.MRM -r
_work\Data\Meshes\_compiled\NW_MISC_CRATE_SMALL_01.MRM -r
_work\Data\Meshes\_compiled\NW_MISC_CUSHION_01.MRM -r
_work\Data\Meshes\_compiled\NW_MISC_FRM_FIREWOOD_01.MRM -r
_work\Data\Meshes\_compiled\NW_MISC_SACK_01.MRM -r
_work\Data\Meshes\_compiled\NW_MISC_WALLDEC_01.MRM -r
_work\Data\Meshes\_compiled\NW_MISC_WPLANKS_01.MRM -r
_work\Data\Meshes\_compiled\NW_MISC_XBEAM_01.MRM -r
_work\Data\Meshes\_compiled\NW_MISC_XBEAM_02.MRM -r
_work\Data\Meshes\_compiled\NW_NATG3.MRM -r
_work\Data\Meshes\_compiled\NW_NATG3_OLD.MRM -r
_work\Data\Meshes\_compiled\NW_NATG6_TREE.MRM -r
_work\Data\Meshes\_compiled\NW_NATG7.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_BUSH_25P_01.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_BUSH_120P_OLD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_BUSH_666P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_BUSH_666P_X2.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_BUSH_DEAD_01.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_DARKTREE_N01.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_FC_01.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_FC_02.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_FFWOOD_01.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_FFWOOD_03.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_GRASSGROUP_01_1.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_GRASSGROUP_01_2_OLD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_GRASSGROUP_01_4_OLD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_GRASSGROUP_01_5_OLD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_GRASSGROUP_01_6_OLD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_GRASSGROUP_01_OLD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_GRASSGROUP_02.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_GRASSGROUP_08_1.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_HANGPLANTS_111.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_40P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_77P_OLD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_78P_OLD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_79P_OLD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_79P_X1_OAK.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_79P_X1_OAK_OLD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_79P_X1_OLD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_79P_X2_OAK.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_79P_X2_OAK_OLD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_79P_X2_OLD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_111P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_111P_OLD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_222P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_222P_OLD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_223P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_223P_OLD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_300P_OLD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_333P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_SMALLTREE_333P_GRD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_TANNE_33P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_TANNE_33P_DEAD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_TANNE_75P_DEAD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_TANNE_85P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_TANNE_90P.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_TANNE_100P_DEAD.MRM -r
_work\Data\Meshes\_compiled\NW_NATURE_TANNE_110P.MRM -r
_work\Data\Meshes\_compiled\NW_PINESHRUB_01.MRM -r
_work\Data\Meshes\_compiled\NW_REDLANTERN_DEC_01.MRM -r
_work\Data\Meshes\_compiled\NW_REDLANTERN_DEC_02.MRM -r
_work\Data\Meshes\_compiled\NW_REDLANTERN_DEC_04.MRM -r
_work\Data\Meshes\_compiled\NW_ROCKSGRASS_01.MRM -r
_work\Data\Meshes\_compiled\OC_CARPET_01.MRM -r
_work\Data\Meshes\_compiled\OC_CARPET_02.MRM -r
_work\Data\Meshes\_compiled\OC_DECORATE_V2B.MRM -r
_work\Data\Meshes\_compiled\OC_KITCHENSTUFF_V02.MRM -r
_work\Data\Meshes\_compiled\OC_OLDDRAPERY_01.MRM -r
_work\Data\Meshes\_compiled\OC_OLDDRAPERY_03.MRM -r
_work\Data\Meshes\_compiled\OC_STAIRS_01.MRM -r
_work\Data\Meshes\_compiled\OC_STAIRS_05.MRM -r
_work\Data\Meshes\_compiled\OW_GRASS_WINTER_01.MRM -r
_work\Data\Meshes\_compiled\OW_LOB_TREE_V11_1.MRM -r
_work\Data\Meshes\_compiled\OW_LOB_TREE_V111.MRM -r
_work\Data\Meshes\_compiled\OW_NATURE_SMALLTREE_111.MRM -r
_work\Data\Meshes\_compiled\OW_NORTHERNPINE.MRM -r
_work\Data\Meshes\_compiled\OW_NORTHERNPINE_02.MRM -r
_work\Data\Meshes\_compiled\OW_NORTHERNPINE_03.MRM -r
_work\Data\Meshes\_compiled\OW_TREESTUMP01.MRM -r
_work\Data\Meshes\_compiled\SK_REACHFERN_01.MRM -r
_work\Data\Meshes\_compiled\SK_SWORDFERNCLUSTER_01.MRM -r
_work\Data\Meshes\_compiled\SK_VINEMAPLE_01.MRM -r
_work\Data\Meshes\_compiled\SKULL_01.MRM -r
_work\Data\Meshes\_compiled\ADDON_PLANTS_BUSH_01CR.MRM -r
_work\Data\Meshes\_compiled\ADDON_PLANTS_JUNGLETREE_03_123P.MRM -r
_work\Data\Meshes\_compiled\ADDON_PLANTS_TREE_01_236P.MRM -r
_work\Data\Meshes\_compiled\ASM_SMALLTREE_0_OLD.MRM -r
_work\Data\Textures\_compiled\HELLLIGHT-C.TEX -r
_work\Data\Textures\_compiled\ITAMMUNITIONFEATHERMAGIC-C.TEX -r
_work\Data\Textures\_compiled\ITARRUNE_ZP-C.TEX -r
_work\Data\Textures\_compiled\ITAR_SCROLLS4-C.TEX -r
_work\Data\Textures\_compiled\ITAR_SCROLL_ZP-C.TEX -r
_work\Data\Textures\_compiled\ITPLANTS-C.TEX -r
_work\Data\Textures\_compiled\ITWR_MAPS-C.TEX -r
_work\Data\Textures\_compiled\ITWRITTEN2-C.TEX -r
_work\Data\Textures\_compiled\KATARIAHCLUTTER_01-C.TEX -r
_work\Data\Textures\_compiled\LOADING_FREEMINE-C.TEX -r
_work\Data\Textures\_compiled\LOADING_ORCGRAVEYARD-C.TEX -r
_work\Data\Textures\_compiled\MAP_OLDCAMP_ORCSZEICHEN-C.TEX -r
_work\Data\Textures\_compiled\MAP_OLDWORLD_OREMINES-C.TEX -r
_work\Data\Textures\_compiled\MAP_OLDWORLD-C.TEX -r
_work\Data\Textures\_compiled\MFX_QUAKE-C.TEX -r
_work\Data\Textures\_compiled\NCODWAPUTZORNAMENTDA-C.TEX -r
_work\Data\Textures\_compiled\NEW_FC_1-C.TEX -r
_work\Data\Textures\_compiled\NW_ASPENBRANCH_01-C.TEX -r
_work\Data\Textures\_compiled\NW_DOCKBEAM_01-C.TEX -r
_work\Data\Textures\_compiled\NW_FCAVEDEC_01-C.TEX -r
_work\Data\Textures\_compiled\NW_MISC_WOODBP_01-C.TEX -r
_work\Data\Textures\_compiled\NW_NATF6-C.TEX -r
_work\Data\Textures\_compiled\NW_NATG1-C.TEX -r
_work\Data\Textures\_compiled\NW_NATG3_OLD-C.TEX -r
_work\Data\Textures\_compiled\NW_NATG3-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_ACKER_05-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_BRANCH_01_OLD-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_BRANCH_08_1_OLD-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_BRANCH_08_2_OLD-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_BRANCH_08_OAK_1_OLD-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_BRANCH_08_OAK_1-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_BRANCH_08_OAK_OLD-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_BRANCH_08_OAK-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_BRANCH_08_OLD-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_BRANCH_09_OLD-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_BRANCH_09-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_GRASS_DECAL_01_OLD-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_GRASS_DECAL_08_1-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_LEAVE_01_OLD-C.TEX -r
_work\Data\Textures\_compiled\NW_NATURE_LEAVE_03_OLD-C.TEX -r
_work\Data\Textures\_compiled\NW_RL_DRAPERY_01-C.TEX -r
_work\Data\Textures\_compiled\NW_ROCKSGRASS_01-C.TEX -r
_work\Data\Textures\_compiled\NW_SHRUB01HALF_01-C.TEX -r
_work\Data\Textures\_compiled\NW_SHRUB01HALF-C.TEX -r
_work\Data\Textures\_compiled\NW_SKPINEBARK_01-C.TEX -r
_work\Data\Textures\_compiled\NW_SKPINEBARK_02-C.TEX -r
_work\Data\Textures\_compiled\NW_SKPINEBRANCH_01-C.TEX -r
_work\Data\Textures\_compiled\NW_SKPINEBRANCH_02-C.TEX -r
_work\Data\Textures\_compiled\NW_TWBARK_SW-C.TEX -r
_work\Data\Textures\_compiled\NW_TWBRANCH_01-C.TEX -r
_work\Data\Textures\_compiled\NW_TWBRANCH_02-C.TEX -r
_work\Data\Textures\_compiled\NW_TWDBUSH_01-C.TEX -r
_work\Data\Textures\_compiled\NW_TWDBUSH_02-C.TEX -r
_work\Data\Textures\_compiled\NW_TWDTDEC-C.TEX -r
_work\Data\Textures\_compiled\NW_TWWOOD_04-C.TEX -r
_work\Data\Textures\_compiled\NW_WRSLATE_02-C.TEX -r
_work\Data\Textures\_compiled\OBJ_CITY_PICTURE_02_01-C.TEX -r
_work\Data\Textures\_compiled\OBJ_CITY_PICTURE_02_02-C.TEX -r
_work\Data\Textures\_compiled\OBJ_CITY_PICTURE_02_03-C.TEX -r
_work\Data\Textures\_compiled\OC_CARPET_01-C.TEX -r
_work\Data\Textures\_compiled\OC_CARPET_02-C.TEX -r
_work\Data\Textures\_compiled\OC_DECV3-C.TEX -r
_work\Data\Textures\_compiled\OW_LOB_TREE_BRANCH-C.TEX -r
_work\Data\Textures\_compiled\OW_LOB_TREE_BRANCHES-C.TEX -r
_work\Data\Textures\_compiled\OW_LOB_TREE_WBARK01-C.TEX -r
_work\Data\Textures\_compiled\OW_LOB_TREE_WBUSH01-C.TEX -r
_work\Data\Textures\_compiled\OW_NATURE_WGRASS_01-C.TEX -r
_work\Data\Textures\_compiled\PCODWALSWAMP01-C.TEX -r
_work\Data\Textures\_compiled\PCODWALSWAMP01END-C.TEX -r
_work\Data\Textures\_compiled\PCODWALSWAMP01TCROSS-C.TEX -r
_work\Data\Textures\_compiled\PCODWATRTREES-C.TEX -r
_work\Data\Textures\_compiled\SK_REACHGRASSOBJ_01-C.TEX -r
_work\Data\Textures\_compiled\SK_SWORDFERN_01-C.TEX -r
_work\Data\Textures\_compiled\SK_VINEMAPLE_01-C.TEX -r
_work\Data\Textures\_compiled\SKE_3_ARMOR-C.TEX -r
_work\Data\Textures\_compiled\SKE_FLY_BODY-C.TEX -r
_work\Data\Textures\_compiled\SKE_FLY_HEAD-C.TEX -r
_work\Data\Textures\_compiled\SKYDAY_LAYER0_A0-C.TEX -r
_work\Data\Textures\_compiled\SKYDAY_NEWWORLD_LAYER0_A0-C.TEX -r
_work\Data\Textures\_compiled\SKYDAY_OLDWORLD_LAYER0_A0-C.TEX -r
_work\Data\Textures\_compiled\SKYNIGHT_LAYER0_A0-C.TEX -r
_work\Data\Textures\_compiled\SKYNIGHT_LAYER1_A0-C.TEX -r
_work\Data\Textures\_compiled\SKYNIGHT_NEWWORLD_LAYER0_A0-C.TEX -r
_work\Data\Textures\_compiled\SKYNIGHT_NEWWORLD_LAYER1_A0-C.TEX -r
_work\Data\Textures\_compiled\SKYRAINCLOUDS-C.TEX -r
_work\Data\Textures\_compiled\SKYRAINSPLASH-C.TEX -r
_work\Data\Textures\_compiled\SNOW-C.TEX -r
_work\Data\Textures\_compiled\STATUS_BACK-C.TEX -r
_work\Data\Textures\_compiled\TORCH_02-C.TEX -r
_work\Data\Textures\_compiled\TROPICALSTEM_01-C.TEX -r
_work\Data\Textures\_compiled\TUNDRABARK01-C.TEX -r
_work\Data\Textures\_compiled\VURT_DEADGREYBRANCH-C.TEX -r
_work\Data\Textures\_compiled\VURT_DEADTREE5-C.TEX -r
_work\Data\Textures\_compiled\VURT_VINE-C.TEX -r
_work\Data\Textures\_compiled\WASTELAND_ADDON_PSI1-C.TEX -r
_work\Data\Textures\_compiled\WASTELAND_ADDON_PSI2-C.TEX -r
_work\Data\Textures\_compiled\WASTELAND_ADDON1-C.TEX -r
_work\Data\Textures\_compiled\AC_WPLANKS_01-C.TEX -r
_work\Data\Textures\_compiled\CABBAGE01-C.TEX -r
_work\Data\Textures\_compiled\CANDLES01-C.TEX -r
_work\Data\Textures\_compiled\CAVE_MUSHROOM_01-C.TEX -r
_work\Data\Textures\_compiled\COMPASS-C.TEX -r
_work\Data\Textures\_compiled\CUPRESSUS-C.TEX -r
_work\Data\Textures\_compiled\CURRYLEAVES_01-C.TEX -r
_work\Data\Textures\_compiled\CURRYLEAVES_02-C.TEX -r
_work\Data\Textures\_compiled\ITAMMUNITIONFEATHERFIRE-C.TEX -r
[EXCLUDE]
[INCLUDE]
[ENDVDF]
